/* Base16 Atelier Lakeside Dark - Theme */
/* by Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/lakeside) */
/* Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16) */

/* Atelier-Lakeside Comment */
.hljs-comment,
.hljs-quote {
    color:  #FFD700 ;
}

 /*!*Atelier-Lakeside Red *!*/
/*.hljs-variable,*/
/*.hljs-template-variable,*/
/*.hljs-attribute,*/
/*.hljs-tag,*/
/*.hljs-name,*/
/*.hljs-regexp,*/
/*.hljs-link,*/
/*.hljs-name,*/
/*.hljs-selector-id,*/
/*.hljs-selector-class {*/
    /*color: lightpink;*/
/*}*/

/* Atelier-Lakeside Orange */
.hljs-number,
.hljs-meta,
.hljs-type,
.hljs-params {
    color:  gray;
}
.hljs-literal{
    color:orangered;
}
.hljs-builtin-name,
.hljs-built_in
.hljs-builtco_in,{
    color:deepskyblue;
}

/*!* Atelier-Lakeside Green *!*/
/*.hljs-string,*/
/*.hljs-symbol,*/
/*.hljs-bullet {*/
    /*color:   hotpink  ;*/
/*}*/

/* Atelier-Lakeside Blue */
.hljs-title,
.hljs-section {
    color:  #6b6bb8 ;
}

/* Atelier-Lakeside Purple */
.hljs-tag,
.hljs-name,
.hljs-keyword,
.hljs-selector-tag {
    color: lawngreen;
}

.hljs {
    display: block;
    overflow-x: auto;
    background: #161b1d;
    color: #7ea2b4;
    padding: 0.5em;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}
