.top-selector {
    padding: 15px 30px;
    
}
.btn {
    padding: 3px 6px;
}
.table-wrapper {
    padding: 7px 30px 7px 30px;
    .btn {
        padding: 0px 6px;
    }
    td, th {
        text-align: center;
    }
}
.error {
    color: #B94A48;
}
.text-center {
    text-align: center;
    button:first-child {
        margin-right: 20px;
    }
}
.record-iframe {
    width: 100%;
    height: calc(100% - 30px);
}