textarea{ resize: vertical; }

.panel-pad {
    padding-top: 5px;
    padding-bottom: 1px;
}

.switchSupPage {
    margin-top: 20px;
}

#decTextArea {
    height: 100px;
}

.bar {
    margin-bottom: 5px;
}

.breadcrumb {
    margin: 0 0 5px;
    font-size: 13px;
    background-color: #fff;
}