#progressbar{
    margin-left:180px;
    background-color: #f6f6f6;
    user-select:none; 
    -webkit-user-select:none; 
    position:absolute;
    top:60px;
    right: 0;
    left: 0;
    z-index : 9;
}
.container{
  max-width: 100%;
}
.sidebar-closed{
  margin-left:0;
}
.pstep {
    counter-reset: flag;
    font-family: 'Microsoft YaHei','Lantinghei SC','Open Sans',Arial,'Hiragino Sans GB','STHeiti','WenQuanYi Micro Hei','SimSun',sans-serif;
  }
  .pstep li {
    position: relative;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }
  .pstep li a {
    cursor: pointer;
    padding: 10px 15px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }
  .pstep li a:before {
    content: counter(flag);
    counter-increment: flag;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }
  .pstep li a:after {
    content: "";
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }
  .pstep-arrow {
    margin:  0;
  }
  .pstep-arrow.unhover li a:hover,
  .pstep-arrow.unhover li a:focus {
    background-color: #f6f6f6;
    color: #444444;
  }
  .pstep-arrow.unhover li a:hover:before,
  .pstep-arrow.unhover li a:focus:before {
    background-color: #d2d2d2;
    color: #ffffff;
  }
  .pstep-arrow.unhover li:not(:last-child) a:hover:after,
  .pstep-arrow.unhover li:not(:last-child) a:focus:after {
    background-color: #f6f6f6;
  }
  .pstep-arrow li {
    padding-right: 20px;
  }
  .pstep-arrow li:last-child {
    padding-right: 0;
  }
  .pstep-arrow li:nth-child(n+2) a {
    margin-left: -20px;
    border-radius: 0;
  }
  .pstep-arrow li:not(:last-child) a:after {
    position: absolute;
    top: -1px;
    right: -20px;
    width: 40px;
    height: 40px;
    transform: scale(0.707) rotate(45deg);
    z-index: 1;
    background-color: #f6f6f6;
    border-radius: 0 5px 0 50px;
    border-top: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    box-sizing: content-box;
  }
  .pstep-arrow li:not(:last-child) a:hover:after {
    background-color: #00b8f5;
  }
  .pstep-arrow li a {
    border-radius: 0;
    color: #444444;
    background-color: #f6f6f6;
  }
  .pstep-arrow li a:hover {
    background-color: #00b8f5;
    color: #ffffff;
  }
  .pstep-arrow li a:hover:before {
    background: #ffffff;
    color: #00b8f5;
  }
  .pstep-arrow li a:before {
    position: absolute;
    z-index: 2;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 20px;
    left: 3rem;
    font-weight: bold;
    font-size: 1rem;
    overflow: hidden;
    top: 10px;
    background: #d2d2d2;
    color: #ffffff;
  }
  .pstep-arrow li.actived a:before,
  .pstep-arrow li.actived a:before,
  .pstep-arrow li.actived a:hover:before  {
    background: #ffffff;
    color: #00b8f5;
  }
  .pstep-arrow li.actived a:after,
  .pstep-arrow li.actived a,
  .pstep-arrow li.actived a:hover,
  .pstep-arrow li.actived a:hover:after {
    background-color: #00b8f5;
    color: #ffffff;
  }
  .pstep-arrow li.activing a,
  .pstep-arrow li.activing a:after{
    background-color: #00b8f5;
    color: #ffffff;
  }
  /* .pstep-arrow li.activing a,
  .pstep-arrow li.activing a:after{
    animation: flicker 0.75s linear 0s infinite alternate ;
    @-moz-animation: flicker 0.75s linear 0s infinite alternate ;
    @-o-animation: flicker 0.75s linear 0s infinite alternate ;
    @-moz-animation: flicker 0.75s linear 0s infinite alternate ;
    @-webkit-animation: flicker 0.75s linear 0s infinite alternate ;
  } */
  .hideprogress i{
    font-size:20px;
  }.hideprogress span{
    line-height: 30px;
  }
.hideprogress{
  background-color: #f1f2f7;
  vertical-align: middle;
  text-align: center;
  padding: 2px 3px;
  float: left;
  border:2px solid #00b8f5;
}
  .step {
    counter-reset: flag;
    font-family: 'Microsoft YaHei','Lantinghei SC','Open Sans',Arial,'Hiragino Sans GB','STHeiti','WenQuanYi Micro Hei','SimSun',sans-serif;
  }
  .step li {
    position: relative;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }
  .step li a {
    cursor: pointer;
    padding: 0px 15px 5px 15px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }
  .step li a:before {
    content: counter(flag);
    counter-increment: flag;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }
  .step li a:after {
    content: "";
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }
  .step-square {
    margin-top: 28px;
  }
  .step-square > li:hover a:before,
  .step-square > li:active a:before,
  .step-square > li.active a:before {
    background-color: #00b8f5;
    color: #ffffff;
    border-color: #00b8f5;
  }
  .step-square > li:hover a:after,
  .step-square > li:active a:after,
  .step-square > li.active a:after {
    background-color: #00b8f5;
  }
  .step-square > li:first-child a:after {
    left: 50%;
    border-right: 1px solid #ffffff;
  }
  .step-square > li:last-child a:after {
    right: 50%;
    border-left: 1px solid #ffffff;
  }
  .step-square > li > a {
    color: #ebebeb;
  }
  .step-square > li > a:hover {
    background-color: #ffffff;
    color: #00b8f5;
  }
  .step-square > li > a:before {
    position: absolute;
    z-index: 2;
    top: -23px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 18px;
    height: 18px;
    background-color: #ffffff;
    line-height: 18px;
    border: 1px solid #ebebeb;
  }
  .step-square > li > a:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: -65%;
    background-color: #ebebeb;
    z-index: 1;
    height: 2px;
    border: solid #ffffff;
    border-width: 0 1px;
  }
  .step-square > li.active > a,
  .step-square > li.active > a:focus,
  .step-square > li.active > a:hover {
    color: #00b8f5;
    background: transparent;
  }