[v-cloak] {
	display: none;
}
html, body{
	height: 100%;
	position: relative;
}
$globleRed: #FF6C60;
$okGreen: #66F60C;
.editTrigger {
	position: absolute;
	display: block;
	width: 750px;
	height: 500px;
	left: 50%;
	top: 50%;
	margin-left: -375px;
	margin-top: -240px;
	background-color: #fff;
	border: 1px solid #888;
	overflow: auto;
	textarea {
		width: calc(100% - 100px);
		resize: none;
	}
	header {
		box-sizing: border-box;
		height: 30px;
		padding: 4px 10px;
		margin: 0;
		background-color: #f1f2f7;
		border-bottom: 1px solid #ccc;
		font-size: 15px;
		.icon-remove {
			float: right;
			font-size: 22px;
			color: $globleRed;

		}

	}
	main {
		height: 523px;
		overflow: auto;
		margin: 0;
		padding: 10px 10px;
		.trigger-item-wrapper {
			margin-bottom: 10px;
			.trigger-label {
				display: inline-block;
				width: 85px;
				margin-right: 5px;
				text-align: right;
				vertical-align: top;
			}
			& > div {
				display: inline-block;
				width: calc(100% - 95px);
			}
			
		}
		.trigger-time-wrapper {
			.checkbox-wrapper {
				padding: 10px;
				.checkbox-item {
					// margin-right: 10px;
					font-weight: 100;
					color: #000;
				}
			}

		}
		.trigger-condition-wrapper {
			.radio-item {
				margin-right: 10px;
				color: #000;
				font-weight: 100;
			}
		}
		.trigger-table-wrapper {
			table {
				margin-left: 30px;
				width: calc(100% - 30px);
				font-size: 14px;
				font-weight: 100;
				border-collapse: collapse;
				border: 1px solid #333;
				text-align: center;
				select {
					padding: 3px;
				}
				th,td {
					text-align: center;
					border: 1px solid #333;
					padding: 5px 0;
				}
				td {
					button {margin-right:30px;}
					button:last-child {margin-right: 0;}
					.btn {
						padding: 0 3px;
					}
				}
			}
		}
		.trigger-action-wrapper {
			.btn-item-add{
				padding: 2px;
				border: none;
				background-color:#fff;
			}
			.icon-plus {
				color: $globleRed;
			}
			.action-item-wrapper {
				position: relative;
				width: calc(100% - 30px);
				margin-left: 30px;
				padding: 10px 15px;
				border: 1px dashed #888;
				&>button {
					position:absolute;
					top: 5px;
					right: 10px;
					padding: 2px;
					color: $globleRed;
					border: none;
					background-color:#fff;
				}
				.item-row {
					margin-bottom: 5px;
				}
				label {
					margin-right: 10px;
				}
				textarea {
					width: calc(100% - 70px);
				}
			}
		}
	}
	footer {
		height: 30px;
		margin-bottom: 15px;
		text-align: center;
		&:first-child {
			margin-right: 20px;
		}
	}
}
.row {
	marign:0;
	.breadcrumb {
		margin-bottom: 0px;
	}
}
#main-content{
	position: relative;
	display:flex;
	flex-direction: column;
	padding-top:118px;
	.strench {
		flex: 1 1 auto;
		background-color: #fff;
	}
	.content-wrapper{
		position: relative;
		height: calc(100% - 110px);
		flex: 1 0 auto;
		flex-direction: column;
		display: flex;
		overflow: hidden;
		margin-bottom: 250px;
		transition: margin-bottom .5s;

		.main{
			position: relative;
			display: flex;
			flex-direction: column;
			flex: 1 1 auto;
			overflow: auto;
			// background-color: #fff;
			font-size: 13px;
			.top-bar {
				padding: 10px 20px;
			}
			.btn {
				// padding: 3px 6px;
				// font-size: 13px;
			}
			.route-position {
				flex: 0 0 auto;
				padding: 5px 20px;
				background-color: #fff;
				font-size: 14px;
				color: #416CFF;
				a {
					color:  #416CFF;
				}
			}
			.top-bar{
				position: sticky;
				top: 0;
				flex: 0 0 auto;
				width: 100%;
				background-color: #f1f2f7;
			}
			.form-input {
				// height: 0;
				display: none;
				background-color: #f1f2f7;
				&>div {
					float: left;
					margin: 0 20px 0 0;
				}
				label {
					font-weight: normal;
				}
				input[type=number], .exe-scope{
					border-radius: 5px;
    				border: 1px solid #ddd;
    				padding: 5px 10px;
				}
			}
			.form-input-show {
				margin: 10px 0 5px 0;
				padding: 10px 20px;
				// height: auto;
				display: block;
			}
			.main-content {
				position: relative;
				flex: 1 0 auto;
				overflow: auto;
				background-color: #fff;
				padding: 0px 0px;
				min-width: 100%;
				.check-all-case {
					display: inline-block;
				}
				.scene-list-wrapper {
					position: relative;
					.scene-list-title {
						position: relative;
						top: 5px;
					}
					.btn {
						padding: 3px 6px;
						margin: 5px 3px;
					}
				}
				.case-lib {
					// margin-bottom: 20px;
					// border: 1px dashed #ddd;
					padding: 5px;
					background-color: #fafafa;
					// width: max-content;
					min-width: 100%;
					display: flex;
					flex-direction: row;
					.checkbox-wrapper {
						display: flex;
						height: 100%;
						width: 50px;
						vertical-align: top;
						padding: 9px 5px 0px 5px;
						input {
							float: left;
							margin: 0;
						}
					}
					.case-wrapper {
						// display: flex;
						// flex-direction: row;
						// width: max-content;
					}
				}
				.case-lib:last-child {
					margin-bottom: 0;
				}
				.case {
					$caseWidth: 155px;
					// flex: 1 0 auto;
					// display: flex;
					display: inline-block;
					margin-bottom: 0px;
					margin-right: 20px;
					min-width: 50px;
					width: $caseWidth;
					border: 1px solid #ddd5d5;
					border-radius: 5px;
					$caseHeaderheight: 30px;
					
					height: 30px;
					&:first-of-type {
						margin-left: 0;
					}
					.case-header {
						height: $caseHeaderheight;
						padding: 0 0px;
						position: relative;
						// background-color: #f5f5f5;
						background: transparent;
						border-top-left-radius: 5px;
						border-top-right-radius: 5px;
						flex: 0 0 auto;
						input[type="checkbox"] {
							visibility: hidden;
							position: relative;
							top: -8px;
						}
						img {
							display: inline-block;
							position: relative;
							top: -11px;
							left: 0px;
							width: 16px;
							height: 16px;
							margin: 0 auto;
							vertical-align: middle;
						}
						p {
							display: inline-block;
							line-height: $caseHeaderheight;
							margin: 0px 0 0 0px;
							overflow-x: hidden;
							white-space: nowrap;
							text-overflow: ellipsis; 
						}
						.width-limit{
							width : 80px
						}
					}
					.case-main {
						.view-case {
							position: relative;
							top: 5px;
							cursor: pointer;
							width:3000px;
						}
					}
					.case-footer {
						padding-left: 20px;
						font-size: 16px;
						line-height: $caseHeaderheight;
						height: $caseHeaderheight;
						width:auto;
					}
				}

				// testphase css
				table#testphase-table {
					td,th {
						text-align: center;
					}
					tr :first-child {
						width: 50px;
					}
					tr :nth-of-type(2){
						width: 30%;
					}
				}
			}
			.main-content2 {
				position: relative;
			}
		}
	}
	.bigMarginBottom {
		margin-bottom: 0px;
	}
	.smallMarginBottom {
		margin-bottom: 0px;
	}
	.panel{
		position:fixed;
		bottom: 0px;
		// left: 0;
		flex: 1 0 auto;
		height: 200px;
		width: calc(100% - 180px);
		border-radius: 5px;
		margin-left: 5px;
		margin-right: 5px;
		margin-bottom: 0;
		overflow: hidden;
		// transition: 0.5s height;
		z-index: 3;
		.panel-heading{
			height: 34px;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
			background-color: #f5f5f5;
			font-size: 14px;
			margin: 0 0px;
			padding:5px 10px;
		}
		.panel-body{
			// height: 166px;
			overflow: auto;
			button {
				// background-color: #ccc;
				color: #444;
				i {
					color: $globleRed;
				}
			}
			.timeArrange {
				div {
					margin-top: 10px;
					button {
						float: right;
						margin-right: 50px;
					}
				}
			}
			.triggerSetting {
				.table-wrapper {
					margin: 20px 0;
				}
				table {
					width: 100%;
					th,td{
						text-align: center;
					}
					
				}
				.table {
					tr {
						th:first-child, td:first-child{
							width: 50px;
						}
						th:nth-child(2){
							width: 200px;
						}
						th:nth-child(4){
							width: 100px;
						}
					}
				}
				.triggerSave{
					float: right;
					margin-right: 20px;
				}

			}
			.processControl {
				p {
					margin: 0;
				}
				.wrapper-div {
					margin: 10px 0;
					.strategy-group {
						margin: 10px 0;
						.group-name {
							display: inline-block;
							width: 100px;
						}
						.select-wrapper {
							// display: inline-block;
						}
						.select-group {
							display: inline-block;
							margin: 0 5px;
							select {
								padding: 3px 5px;
							}
						}
					}
				}
				.processControl-footer {
					.processControlSave {
						float: right;
					}
				}
			}
			.dataPool {
				.table-wrapper {
					margin: 20px 0;
				}
				table {
					width: 100%;
					th {
						text-align: center;
					}
					td {
						text-align: center;
					}
				}
				.triggerSave{
					float: right;
					margin-right: 20px;
				}

			}
		}
	}
	@media (max-width: 768px) {
		.panel {
			width: 100%;
		}
	}
	.panel.height43px {
		// height: 34px;
		height: 0px;
		// top: 0;
	}
	.panel.height200px{
		height: 200px;
		// top: -0;
	}
	.copy-right{
		// position: fixed;
		// left: 0;
		bottom: 0;
		height: 50px;
		// width: 100%;
		bottom: 0;
	}

	#test-options{
		overflow: hidden;
		.form-group{
			margin-bottom: 10px;
		}
	}
	#testround-main{
		.test-control{
			margin: 10px;
		}
		.list-wrapper{
			// display: flex;
			margin-top: 10px;
			.list-title{
				flex: 0 0 auto;
				vertical-align: top;
				margin-right: 10px;
			}
			.case-list, .scene-list {
				// display: flex;
				height: auto;
				// flex: 0 0 auto;
				border: 1px dashed #ddd;
				// padding: 10px;
				overflow: hidden;
				box-sizing: border-box;
				transition: height 100ms;
				.case-item {
					display: inline-block;
					flex: 1 1 auto;
					margin: 10px 10px 0 0;

				}
			}
		}
	}
}
.modal {
	.modal-header {
		// margin: 5px 10px;
		padding: 8px 10px;
		h4 {
			font-size: 16px;
		}
	}
	.modal-footer {
		padding: 8px 10px;
		button {
			padding: 3px 8px;
		}
	}
}
.alert{
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	width: 300px;
	z-index: 1041;
	padding: 0;
	border: 1px solid #ddd;
	header {
		height: 35px;
		padding: 0px 10px;
		background-color: #00A8B3;
		span {
			font-size: 16px;
			color: #fff;
			line-height: 35px;
		}
		button{
			height: 35px;
			i {
				line-height: 35px;
			}
		}
		
	}
	main {
		min-height: 100px;
		padding: 10px 5px;
		border-bottom: 1px solid #ddd;
		p {
			font-size: 16px;
			color: #b94a48;
		}
	}
	footer {
		text-align: center;
		button {
			display: block;
			padding: 5px;
			margin: 0 auto;
		}
		button.cancelConfirm, button.okConfirm {
			display: inline-block;
			padding: 5px 10px;
			margin: 10px;
		}
	}
	background-color: #fff;
}
.show {
	display: none;
}
.hide {
	display: block;
}
.runnerclass p{
	margin: 0%;
	width:100%;
	height:100%;
	vertical-align: middle;
	padding-top: 6px
}