.select-name {
    width: 100px;
}

.input-search {
    width: 150px;
}

.panel-padding {
    padding-left: 0;
}

table {
    th,
    td {
        text-align: center;
    }
    .btn-alter, .btn-view{
        // margin: 0 5px;
        // padding: 4px;
        font-size: 12px;
        // color: white;
        // background-color: #ff6c60;, td.functions,td.parameters
        // border-color:  #ff6c60;
    }
}
.table-tool{
    padding:10px 0;
}
.inline-block{
        display: inline-block;
        width: auto;
}
.page-tooltip{
    position: relative;
    top: -32px;
    margin: 0 10px;
}