<!DOCTYPE html>
<html>

<head>
    <link rel="import" href="./common/header.html?__inline">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <link rel="stylesheet" type="text/css" href="../static/css/pagination.css">
    <link rel="stylesheet" type="text/css" href="../static/css/scene.css">
    <!-- <link rel="stylesheet" type="text/css" href="../static/css/base/bootstrap.min.css"> -->
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap-datetimepicker.min.css">
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript" src="../lib/jquery-1.8.3.min.js"></script>
    <title>批量执行管理</title>
    <style>
    .btn-success{
        margin: 1px;
    }
    .box{
      	position:relative;
      }
    table .chartTable{
      	width:300px;
      	height: 240px;
      	border:2px solid lightblue;
      	position:absolute;
        left: 450px;
        top:80px;
      	border-collapse: collapse;
      }
    .chartTable td{
      	width:150px;
      	height:80px;
      	border:2px solid lightblue;
      }
    .color0{
      	width:90px;
      	height:50px;
      	background-color:#22ee55;
      }
      .color1{
      	width:90px;
      	height:50px;
      	background-color:#e72210;
      }
      .color2{
      	width:90px;
      	height:50px;
      	background-color:#53becc;
      }
      .font{
      	line-height: 80px;
      	text-align:center;
      	font-weight:1.5px;
      }
	  .tooltip {
	  	position: absolute;
	  	width: 100px;
	  	height: auto;
	  	font-size: 14px;
	  	text-align: center;
	  	border: 1px solid #666;
	  	border-radius: 5px;
	  	background:rgba(255, 255, 255, 0.5)
	  }
    </style>
</head>

<body id="scene" v-cloak>
    <div class="content">
        <!--header start-->
        <link rel="import" href="./common/header-guide.html?__inline">
        <!--header end-->
        <!--sidebar start-->
        <link rel="import" href="./common/aside-guide.html?__inline">
        <!--sidebar end-->
        <!--main content start-->
        <section id="main-content">
            <section class="wrapper">
                <!-- breadcrumb start -->
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="breadcrumb">
                            <li>
                                <a href="#">
                                    <i class="icon-home"></i> 项目测试{{ projectName }}</a>
                            </li>
                            <li class="active">
                                <a href="#"> 批量执行查询</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- breadcrumb end -->
                <!-- table start -->
                <div class="row" v-if="!addshow">
                    <div class="col-lg-12">
                        <section class="panel">
                            <!-- <header class="panel-heading">
                                批量执行查询
                            </header> -->
                            <div class="filter">
                                <div class="row">
                                    <div  style="padding: 10px 0;">
                                    </div>
                                    <form class="form-horizontal col-sm-12">
                                        <div class="form-group">
                                            <label class="col-sm-1 control-label">创建时间</label>
                                                <div class="input-group date form_date_start col-sm-2" data-date-format="yyyy-mm-dd" >
                                                    <input class="form-control"  type="text" value="" v-model="creatTimeStart" style="width:114px;" readonly>
                                                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                                </div>
                                                <!-- <input type="hidden" id="dtp_input0" value=""  /> -->
                                            <label class="col-sm-1 control-label" style="width:40px">至</label>
                                                <div class="input-group date form_date_end col-sm-2" data-date-format="yyyy-mm-dd" >
                                                    <input class="form-control"  type="text" value=""  v-model="creatTimeEnd" style="width:114px;" readonly >
                                                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                                </div>
                                                <!-- <input type="hidden" id="dtp_input1" value=""/> -->
                                            <label class="col-sm-1 control-label">时间段</label>
                                            <div class="col-sm-2">
                                                <select class="form-control" v-model="period_flag" @change="creatTimeInit()">                                                                                                         
                                                    <option value="1" selected>一天内</option>
                                                    <option value="2" >近一周内</option>
                                                    <option value="3" >近一月内</option>                                                                                                                                                                                                                                        <!--原来是 item.phasename -->
                                                </select>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="filter">
                                <div class="row">
                                    <form class="form-horizontal col-sm-12">
                                        <div class="form-group">
                                            <label class="col-sm-1 control-label">用例来源</label>
                                            <div class="col-sm-2">
                                                <select class="form-control" v-model="caseSourceChannel">       
                                                    
                                                    <option value="1" selected>测试计划</option>
                                                    <option value="2" >场景</option>
                                                    <option value="3" >数据编写</option>
                                                    <option value="4" >模板调试</option>                                                                                                                                                                                                                                        <!--原来是 item.phasename -->
                                                </select>
                                            </div>
                                            <label class="col-sm-1 control-label">测试计划</label>
                                            <div class="col-sm-2">
                                                <select class="form-control"  v-model="testPlanId">       
                                                    <option value= ""  selected>请选择</option>
                                                    <option v-for="(index,item) in testPlans" v-bind:value="item.id">{{item.nameMedium}}</option>                                                                                                                                                                                                                                                       <!--原来是 item.phasename -->
                                                </select>
                                            </div>
                                            <label class="col-sm-1 control-label">执行状态</label>
                                            <div class="col-sm-2">
                                                <select class="form-control"  v-model="runStatus"> 
                                                    <option selected  >请选择</option> 
                                                    <option value="0" >初始</option> 
                                                    <option value="1" >执行中</option>     
                                                    <option value="2" >执行完毕</option>   
                                                    <option value="3" >错误终止</option>
                                                    <option value="4" >人工终止</option>
                                                    
                                                </select>
                                            </div>
                                            <div class="col-sm-1">
                                                <a class="btn btn-primary" @click="queryBatchByClick()">查询</a><!-- 留待@click中写函数-->
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>


                            <!-- 表格 -->
                            <style>
                                #sample_1 th,
                                #sample_1 td {
                                    word-break: keep-all;
                                }
                            </style>
                            <div style="overflow-x: auto;">
                                <table class="table table-striped table-bordered border-top text-center" id="sample_1">
                                    <thead>
                                        <tr>
                                            <th class="hidden-phone text-center" data-order="casecode" data-sort="desc">操作</th>
                                            <th class="text-center" data-order="autId" data-sort="desc">发起用户</th>
                                            <!-- <th class="hidden-phone text-center" data-order="transId">创建日期</th> -->
                                            <th class="hidden-phone text-center" width="120px" data-order="transId">创建时间</th>
                                            <!-- <th class="hidden-phone text-center" data-order="transId">执行产品</th> -->
                                            <th class="hidden-phone text-center" data-order="transId">用例来源</th>
                                            <!-- <th class="hidden-phone text-center" data-order="transId">用例库</th> -->
                                            <th class="hidden-phone text-center" data-order="transId">测试计划</th>
                                            <!-- <th class="hidden-phone text-center" data-order="transId">测试阶段</th>
                                            <th class="hidden-phone text-center" data-order="transId">测试轮次</th> -->
                                            <th class="hidden-phone text-center" data-order="transId">执行轮次</th>
                                            <!-- <th class="hidden-phone text-center" data-order="transId">场景名称</th> -->
                                            <th class="hidden-phone text-center" data-order="transId">用例总数</th>
                                            <th class="hidden-phone text-center" data-order="transId">成功用例数</th>
                                            <th class="hidden-phone text-center" data-order="transId">失败用例数</th>
                                            <th class="hidden-phone text-center" data-order="transId">跳过用例数</th>
                                            <th class="hidden-phone text-center" data-order="transId">用例饼状图</th>
                                            <!-- <th class="hidden-phone text-center" data-order="transId">执行单详细度</th> -->
                                            <th class="hidden-phone text-center" data-order="transId">执行状态</th>
                                            <th class="hidden-phone text-center" data-order="transId">执行结果</th>
                                            <!-- <th class="hidden-phone text-center" data-order="transId">执行结果信息</th> -->
                                            <!-- <th class="hidden-phone text-center" data-order="transId">完成日期</th> -->
                                            <th class="hidden-phone text-center" data-order="transId">完成时间</th>
                                        </tr>
                                    </thead>
                                    <tbody id="sceneTable">
                                        <tr class="odd gradeX" v-for="scene in sceneList" id="{{scene.batchId}}">
                                            <td class="center " width="" :data-id="scene.batchId">
                                                <button class="btn btn-xs btn-success" @click="getRecord(scene.batchId,scene.testPlan)">查看记录单</button>
                                                <button class="btn btn-xs btn-success" style=" margin-top: 5px;" @click="delete(scene.batchId)">归档</button>
                                            </td>
                                            <td class="center " width="">{{ scene.startUser }}</td>
                                            <!-- <td class="center " width="">{{ scene.createDatze }}</td> -->
                                            <td class="center " width="">{{ formatDate(scene.createTime) }}</td>
                                            <!-- <td class="center " width="">{{ executeProduct[scene.executeProduct] }}</td> -->
                                            <!-- <td class="center " width="">{{ caseSourceChannel[scene.caseSourceChannel] }}</td> -->
                                            <td class="center " width="">{{ scene.instanceSource }}</td>                                        
                                            <!-- <td class="center " width="">{{ scene.caseLibId }}</td> -->
                                            <!-- <td class="center " width=""  @click="goTestExec(scene.testPlan)">{{ scene.testPlanName }}</td> -->
                                            <td class="center " width="" >
                                                <button class="btn btn-xs btn-success" @click="goTestExec(scene.testPlan)">{{ scene.testPlanName }}</button>
                                            </td>
                                            <!-- <td class="center " width="">{{ scene.testPhase }}</td>
                                            <td class="center " width="">{{ scene.testRound }}</td> -->
                                            <td class="center " width="">{{ scene.executionRound }}</td>
                                            <!-- <td class="center " width="">{{ scene.sceneId }}</td> -->
                                            <!-- <td class="center " width="">{{ runScopeFlag[scene.runScopeFlag] }}</td> -->
                                            <td class="center " width="">{{ scene.totalInsCount }}</td>
                                            <td class="center " width="" >{{ scene.successInsCount }}</td>
                                            <td class="center " width="" >{{ scene.failedInsCount }}</td>
                                            <td class="center " width="" >{{ scene.notRunInsCount }}</td>
                                            <!--此处修改模态框显示饼状图-->
                                            <td class="center " width="">
                                                <button class="btn btn-xs btn-success" data-toggle="modal" href="#insertModal" 
                                                onClick="drawChart('{{scene.successInsCount}}','{{scene.failedInsCount}}','{{scene.notRunInsCount}}');"
                                                >饼状图</button>
                                            </td>
                                            <!--drawChart(scene.successInsCount,scene.failedInsCount,scene.notRunInsCount)-->
                                            <!--getCount(scene.successInsCount,scene.failedInsCount,scene.notRunInsCount)-->
                                            <td class="center " width="">{{ scene.executingStatus }}</td>
                                            <td class="center " width="" v-if="scene.executedResult==null">执行中</td>
                                            <td class="center " width="" v-else>{{ scene.executedResult }}</td>
                                            <!-- <td class="center " width="">{{ scene.resultMessage }}</td> -->

                                            <!-- <td class="center " width="">{{ recordSaveType[scene.recordSaveType] }}</td>
                                            <td class="center " width="">{{ scene.maxRecordPerRound }}</td>
                                            <td class="center " width="">{{ recordVerboseType[scene.recordVerboseType] }}</td>
                                            <td class="center " width="">{{ runStatus[scene.runStatus] }}</td>
                                            <td class="center " width="">{{ runResult[scene.runResult] }}</td>
                                            <td class="center " width="">{{ scene.runResultMessage }}</td> -->
                                            <!-- <td class="center " width="">{{ scene.creatorId }}</td>
                                            <td class="center " width="">{{ scene.finishDate }}</td> -->
                                            <td class="center " width="">{{ formatDate(scene.finishTime) }}</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                            
                            <!-- 分页 -->
                            <pagination   :total-count="page.totalCount" :current-page="page.currentPage" :total-page="page.totalPage" :page-size="page.pageSize"  v-on:turn-topage="getExecutionRecord"></pagination>
                            <!-- <div class="row">
                                <div class="col-lg-12 text-center">
                                    <div class="pagination-wrap" v-if="totalPage!=0">
                                        <div class="num">
                                            <select size="1" name="sample_1_length" aria-controls="sample_1" class="form-control" v-model="pageSize" id="mySelect">
                                                <option value="5" >5条/页</option>
                                                <option value="10">10条/页</option>
                                                <option value="20" selected>20条/页</option>
                                                <option value="50">50条/页</option>
                                            </select>
                                        </div>
                                        <ul class="pagination">
                                            <li :class="currentPage==1?'disabled':''">
                                                <a href="#" @click="turnToPage(1)">首页</a>
                                            </li>
                                            <li :class="currentPage==1?'disabled':''">
                                                <a @click="turnToPage(currentPage-1)" href="#">上一页</a>
                                            </li>
                                            <li>
                                                <a href="#" @click="turnToPage(currentPage-3)" v-text="currentPage-3" v-if="currentPage-3>0"></a>
                                            </li>
                                            <li>
                                                <a href="#" @click="turnToPage(currentPage-2)" v-text="currentPage-2" v-if="currentPage-2>0"></a>
                                            </li>
                                            <li>
                                                <a href="#" @click="turnToPage(currentPage-1)" v-text="currentPage-1" v-if="currentPage-1>0"></a>
                                            </li>
                                            <li class="active">
                                                <a href="#" @click="turnToPage(currentPage)" v-text="currentPage">3</a>
                                            </li>
                                            <li>
                                                <a href="#" @click="turnToPage(currentPage+1)" v-text="currentPage+1" v-if="currentPage+1<=totalPage"></a>
                                            </li>
                                            <li>
                                                <a href="#" @click="turnToPage(currentPage+2)" v-text="currentPage+2" v-if="currentPage+2<=totalPage"></a>
                                            </li>
                                            <li>
                                                <a href="#" @click="turnToPage(currentPage+3)" v-text="currentPage+3" v-if="currentPage+3<=totalPage"></a>
                                            </li>
                                            <li :class="currentPage==totalPage?'disabled':''">
                                                <a href="#" @click="turnToPage(currentPage+1)">下一页</a>
                                            </li>
                                            <li :class="currentPage==totalPage?'disabled':''">
                                                <a href="#" @click="turnToPage(totalPage)">尾页</a>
                                            </li>
                                        </ul>
                                        <div class="go">
                                            <div :class="isPageNumberError?'input-group error':'input-group'">
                                                <input class="form-control" type="number" v-model="goToPage" min="1">
                                                <a href="#" class="input-group-addon" @click="turnToPage(goToPage)">Go</a>
                                            </div>
                                        </div>
                                        <small class="small nowrap"> 当前第
                                            <span class="text-primary" v-text="currentPage"></span> /
                                            <span class="text-primary" v-text="totalPage"></span>页，共有
                                            <span class="text-primary" v-text="tt"></span> 条</small>
                                    </div>
                                </div>
                            </div> -->
                        </section>
                    </div>
                </div>
                <!-- table end -->
                 <!-- updateModal start -->
                 <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title">修改测试项目</h4>
                                </div>
                                <div class="modal-body">
                                    <!-- modal-body start -->
                                    <section class="panel">
                                        <form id="updateForm" class="form-horizontal" role="form">
                                            <div class="form-group hidden">
                                                <label class="col-lg-3 control-label">测试项目编号</label>
                                                <div class="col-lg-5">
                                                    <input type="text" class="form-control" name="id" value="{{ selectedId}}">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-lg-3 control-label">测试项目编号</label>
                                                <div class="col-lg-5">
                                                    <input type="text" class="form-control" name="testProjectCode">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-lg-3 control-label">测试项目名称</label>
                                                <div class="col-lg-5">
                                                    <input type="text" class="form-control" name="testProjectName">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-lg-3 control-label">描述</label>
                                                <div class="col-lg-5">
                                                    <textarea class="form-control" rows="3" name="taskDescription"></textarea>
                                                </div>
                                            </div>
                                        </form>
                                    </section>
                                    <!-- modal-body end -->
                                </div>
                                <div class="modal-footer">
                                    <button data-dismiss="modal" class="btn btn-default" type="button">取消</button>
                                    <button data-dismiss="modal" class="btn btn-success" type="button" v-on:click="update">修改</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- updateModal end -->
                    
                  <!-- successModal start -->
                  <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">操作成功</h4>
                            </div>
                            <div class="modal-body">
                                <h4>操作成功！</h4>
                            </div>
                            <div class="modal-footer">
                                <button data-dismiss="modal" class="btn btn-success" type="button">确定</button>
                            </div>
                        </div>
                    </div>
                  </div>
                  <!-- successModal end -->
            </section>
            <link rel="import" href="./common/copy-right.html?__inline">
        </section>
    </div>
    <!--模态图显示饼状图-->>
    <div class="modal fade" id="insertModal" tabindex="-1" role="dialog" aria-labelledby="insertModalLabel" aria-hidden="true">
            <div class="modal-dialog1" style="width: 100%;">
                <div class="modal-content" style="width: 700px; margin: 160px auto;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">饼状图详情</h4>
                    </div>
                    <div class="modal-body">
                        <!-- modal-body start -->
                        <section class="panel" style="width: 680px; overflow: hidden;margin-bottom: -15px;">
                            <div class="add" id="addId" style="float: left;">
                            </div>
                               
                            <div class="box" style="float: left; margin-left: 30px;margin-top: 30px;">
                                <table class="chartTable">
                                    <tr>
                                        <td align="center"><div class="color0"></div></td>
                                        <td class="font">成功用例数</td>
                                    </tr>
                                    <tr>
                                        <td align="center"><div class="color1"></div></td>
                                        <td class="font">失败用例数</td>
                                    </tr>
                                    <tr>
                                        <td align="center"><div class="color2"></div></td>
                                        <td class="font">跳过用例数</td>
                                    </tr>
                                </table>
                            </div>
                        </section>
                    <!-- modal-body end -->
                    </div>
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn-default" type="button">关闭</button>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>
<!--模态图显示图表-->>
<link rel="import" href="./common/footer.html?__inline">
<script src="../lib/vue-resource.min.js"></script>

<script src="http://d3js.org/d3.v3.min.js"></script>
<script>
function drawChart(successInsCount,failedInsCount,notRunInsCount){
    var addContent = $('.add').html();
    if(addContent!=null){
        $('.add').empty();
        console.log('清空div');
    }
    var width = 300;
    var height = 300;
    var successCount=parseInt(successInsCount);
    var failedCount=parseInt(failedInsCount);
    var notRunCount=parseInt(notRunInsCount);
    console.log(successInsCount);
    console.log(failedInsCount);
    console.log(notRunInsCount);
	var sum = successCount + failedCount + notRunCount;
	var successRate = successCount/sum;
	var failedRate = failedCount/sum;
	var notRunRate = notRunCount/sum;
	var successPercent = Math.round(successRate * 100) + "%";
	var failedPercent = Math.round(failedRate * 100) + "%";
	var notRunPercent = Math.round(notRunRate * 100) + "%";
	var rate = [successPercent,failedPercent,notRunPercent];
	var count = 0;
	
	console.log("比率为：" +successPercent + "\n" + failedPercent + "\n" + notRunPercent + "\n");
    
    var dataset = [ 
			["成功用例数",successCount],  
			["失败用例数",failedCount], 
			["跳过用例数",notRunCount]
		];
	
    var svg = d3.select("div.add")
        .append("svg")
        .attr("width", width)
        .attr("height", height);

    var pie = d3.layout.pie().sort(null)
				.value(function(d){return d[1];});

    var piedata = pie(dataset);

    var outerRadius = 145;  //外半径
    var innerRadius = 0;    //内半径，为0则中间没有空白
	
	var outerRadiusFinal = 150;	//鼠标放上去的外半径
	var innerRadiusFinal = 0;	//鼠标放上去的内半径

    var arc = d3.svg.arc()  //弧生成器
            .innerRadius(innerRadius)   //设置内半径
            .outerRadius(outerRadius);  //设置外半径
	
	var arcFinal = d3.svg.arc()	//放大弧生成器
					 .innerRadius(innerRadius)
					 .outerRadius(outerRadiusFinal);

    var color = d3.scale.category10();
    console.log(typeof color);

    var arcs = svg.selectAll("g")
            .data(piedata)
            .enter()
            .append("g")
            .attr("transform","translate("+ (width/2) +","+ (width/2) +")");

    arcs.append("path")
			.attr("d",function(d){return arc(d);})
            .attr("fill",function(d,i){
                if(i === 0){
                    return '#22ee55';
                }else if(i == 1){
                    return '#e72210';
                }else{
                    return '#53becc';
                }
            })
			.on("click",function(d){console.log(d3.event.pageX+"px");alert(d.data[0]+":"+d.data[1]);})
			.on("mouseover",function(d){
				tooltip.html(d.data[0]+":"+d.data[1])
					   .style("top", "158px")
					   .style("left","134px")
					   .style("opacity",1);
				d3.select(this).transition()
				  .duration(150).attr("d",arcFinal);
				
			})
			.on("mouseout",function(d){
				d3.select(this).transition()
				  .duration(150).attr("d",arc);
				tooltip.style("opacity",0);
			});

    arcs.append("text")
        .attr("transform",function(d){
			var x = arc.centroid(d)[0] * 1.1;//显示文字的横坐标
			var y = arc.centroid(d)[1] * 1.1;//显示文字的纵坐标
            return `translate(${x},${y})`;
        })
        .attr("text-anchor","middle")
		.attr("fill","#FFFFFF")
        .text(function(d){
			console.log(sum);
            if(d.data[1]>0){
				if(sum !=0){
					return Number(d.data[1]/sum * 100).toFixed(2) + "%";
				}
            }   
        })
		.style("font-size","15px");  
	
        console.log(color(0));
        console.log(color(1));
        console.log(color(2));  
	var tooltip = d3.select("div.add")
					.append("div")
					.attr("class","tooltip")
					.style("z-index",1)
					.style("opacity",0);
}
</script>
<script type="text/javascript" src="../lib/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="../lib/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="../lib/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="../static/js/template/pagination.js"></script>
<script type="text/javascript" src="../static/js/execution.es.js"></script>