<!DOCTYPE html>
<html>
<head>
    
    <link rel="import" href="./common/header.html?__inline">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <link rel="stylesheet" type="text/css" href="..//static/css/pagination.css">
    <title>Mockserver</title>

    <style>
        pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
        .hrLine{
            vertical-align:middle; display:inline-block;
        }
    </style>
</head>
<body id="v-mockserver">
    <div class="content">
        <link rel="import" href="./common/header-guide.html?__inline">
        <link rel="import" href="./common/aside-guide.html?__inline">

        <section id="main-content">
            <section class="wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="breadcrumb">
                            <li><a href="#"><i class="icon-home"></i> 测试基础设施</a></li>
                            <li class="active"><a href="#"> Mock API</a></li>
                        </ul>
                    </div> 
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <section class="panel panel-info" style="height:835px; overflow:auto">
                            <header class="panel-heading">
                                映射规则列表
                                <div style="float:right">
                                    添加
                                    <a class="btn btn-white btn-sm" data-toggle="modal" data-target="#addModal"><i class="icon-plus"></i></a>
                                </div>
                            </header>
                            <div class="list-group" >
                                <a :class="selectedExpId==item.id?'list-group-item active':'list-group-item'" v-for="item in allExpecation" @click=queryExpecation(item.id) >{{ item.expectationName }}</a>
                            
                            </div>
                        </section>
                        <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content" style="width: 860px;">
                                    <div class="modal-header">
                                        <h4 class="modal-title">添加新规则</h4>
                                    </div>
                                    <div class="modal-body" style="width: 860px;">
                                        <section class="panel nopadding">
                                            <div class="panel-body">
                                                <form class="form-horizontal" role="form" id="insertSingleForm">
                                                    <div class="from-group">
                                                        <label class="col-lg-2 control-label">创建人:</label>
                                                        <div class="col-lg-3">
                                                            <input type="text" class="form-control" name="creater">
                                                        </div>
                                                        <label class="col-lg-2 control-label">规则名称:</label>
                                                        <div class="col-lg-3">
                                                            <input type="text" class="form-control" name="creater">
                                                        </div>
                                                    </div>
                                                    
                                                    <div style=" width:100%; text-align:left; margin-left:15px; margin-right:15px;">
                                                        <hr class="hrLine" style="width:40%;"/>  后缀有*为必填项目  <hr class="hrLine" style="width:43%;"/>
                                                    </div> 
                                                    <h4>规则的请求</h4>
                                                    <div class="from-group">
                                                        <div class="col-lg-5 nopadding">
                                                            <label class="col-lg-4 control-label ">方法<font color="#FF0000">*</font></label>
                                                            <div class="col-lg-8">
                                                                <select class="form-control">
                                                                    <option value="post">post</option>
                                                                    <option value="get">get</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-5 nopadding">
                                                            <label class="col-lg-4 control-label ">路径<font color="#FF0000">*</font></label>
                                                            <div class="col-lg-8">
                                                                <input type="text" class="form-control" name="path">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- <div class="from-group">
                                                        <div class="col-lg-5 nopadding">
                                                            <label class="col-lg-4 control-label ">保护<font color="#FF0000">*</font></label>
                                                            <div class="col-lg-8">
                                                                <select class="form-control">
                                                                    <option value="true">true</option>
                                                                    <option value="false">false</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-5 nopadding">
                                                            <label class="col-lg-4 control-label ">保持存活<font color="#FF0000">*</font></label>
                                                            <div class="col-lg-8">
                                                                <select class="form-control">
                                                                    <option value="true">true</option>
                                                                    <option value="false">false</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div> -->

                                                    <div class="from-group col-lg-12" style="margin-top:55px" v-for="(index,item) in requestParams">
                                                        <div class="from-group col-lg-2" style="margin-top:5px">
                                                            请求参数:
                                                        </div>
                                                        <div class="from-group col-lg-3">
                                                            <input type="text" class="form-control" v-model="requestParams[index].reqkey" placeholder="参数名称">
                                                        </div>
                                                        <div class="from-group col-lg-5">
                                                            <input type="text" class="form-control" v-model="requestParams[index].reqvalue" placeholder="参数值" >
                                                        </div>
                                                        <div class="from-group col-lg-2">
                                                            <a class="btn btn-white btn-sm" @click="addRequestList"><i class="icon-plus"></i></a>
                                                            <a class="btn btn-white btn-sm" @click="delRequestList(index)"><i class="icon-remove"></i></a>
                                                        </div>
                                                    </div>

                                                    <h4 style="margin-top:50px">规则的返回</h4>
                                                    <div class="from-group">
                                                        <div class="col-lg-5 nopadding">
                                                            <label class="col-lg-4 control-label ">状态码<font color="#FF0000">*</font></label>
                                                            <div class="col-lg-8">
                                                                <input type="text" class="form-control" name="respcode">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="from-group">
                                                        <div class="col-lg-5 nopadding">
                                                            <label class="col-lg-4 control-label ">延迟时间<font color="#FF0000">*</font></label>
                                                            <div class="col-lg-8">
                                                                <input type="text" class="form-control" name="delaytime">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="from-group col-lg-12" style="margin-top:55px" v-for="(index,item) in responseParams">
                                                        <div class="from-group col-lg-2" style="margin-top:5px">
                                                            返回参数:
                                                        </div>
                                                        <div class="from-group col-lg-3">
                                                            <input type="text" class="form-control" v-model="responseParams[index].reqkey" placeholder="参数名称">
                                                        </div>
                                                        <div class="from-group col-lg-5">
                                                            <input type="text" class="form-control" v-model="responseParams[index].reqvalue" placeholder="参数值" >
                                                        </div>
                                                        <div class="from-group col-lg-2">
                                                            <a class="btn btn-white btn-sm" @click="addResponseList"><i class="icon-plus"></i></a>
                                                            <a class="btn btn-white btn-sm" @click="delResponseList(index)"><i class="icon-remove"></i></a>
                                                        </div>
                                                    </div>


                                                </form>
                                                
                                            </div>
                                        </section>
                                    
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                                        </button>
                                        <button type="button" class="btn btn-primary">
                                            提交
                                        </button>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal -->
                        </div>

                    </div>
                    <div class="col-lg-9">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#preview" data-toggle="tab">预览</a>
                            </li>
                            <li>
                                <a href="#edit" data-toggle="tab">编辑</a> 
                            </li>
                            <li>
                                <a href="#run" data-toggle="tab">运行</a> 
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div id="preview" class="tab-pane fade in active">
                                <section class="panel" style="height:800px; overflow:auto">
                                    <h3 style="padding-left:20px"><span class="label label-info">基本信息</span></h3>
                                    <div class="col-lg-12" style="padding-top:30px">
                                        <div class="col-lg-6" >
                                            <h4><span class="label label-default">接口名称:</span> {{curExpecation.expectationName }}</h4>
                                        </div>
                                        <div class="col-lg-4" >
                                            <h4><span class="label label-default">创建人:</span> {{ curExpecation.creator }}</h4>
                                        </div>
                                    </div>
                                    <div class="col-lg-12" style="padding-top:60px">
                                        <div class="col-lg-6" >
                                            <h4><span class="label label-default">接口路径:</span>
                                                <span class="label label-success">{{ curExpecation.httpRequest.method }}</span>
                                                {{ curExpecation.httpRequest.path }}
                                            </h4>
                                        </div>
                                        <div class="col-lg-4" >
                                            <h4><span class="label label-default">更新时间:</span> {{ formatDate(curExpecation.modifiedTime) }}</h4>
                                        </div>
                                    </div>
                                    <div class="col-lg-12" style="padding-top:60px">
                                        <div class="col-lg-12">
                                            <h4><span class="label label-default">Mock地址:</span> http://10.101.167.184:8080/atfcloud2.0a{{ curExpecation.httpRequest.path }} </h4>          
                                        </div>
                                    </div>

                                    <div style="padding-top:60px">
                                        <h3 style="padding-left:20px"><span class="label label-info">返回数据</span></h3>
                                    </div>
                                    <pre class="well" style="margin-left: 20px;">{{ curExpecationRet }}
                                    </pre>
                                    



                                </section>
                                
                            </div>
                            <div id="edit" class="tab-pane fade">
                                <p>a a</p>
                            </div>
                            <div id="run" class="tab-pane fade">
                                <p>q q</p>
                            </div>
                        </div>

                    </div>
                </div>
        

  

            </section>
            <link rel="import" href="./common/copy-right.html?__inline">
        </section>
    </div>
</body>
</html>

<link rel="import" href="./common/footer.html?__inline">
<script src="../lib/vue-resource.min.js"></script>
<script type="text/javascript" src="../static/js/mockserver.js"></script>
<script type="text/javascript" src="../lib/jquery.validate.js"></script>