<!DOCTYPE html>
<html>
<head>
    
    <link rel="import" href="./common/header.html?__inline">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <link rel="stylesheet" type="text/css" href="..//static/css/pagination.css">
    <title>Mockserver</title>

    <style>
        pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
        .hrLine{
            vertical-align:middle; display:inline-block;
        }
    </style>
</head>
<body id="v-mockserver">
    <div class="content">
        <link rel="import" href="./common/header-guide.html?__inline">
        <link rel="import" href="./common/aside-guide.html?__inline">

        <section id="main-content">
            <section class="wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="breadcrumb">
                            <li><a href="#"><i class="icon-home"></i> 测试基础设施</a></li>
                            <li class="active"><a href="#"> Mock API</a></li>
                        </ul>
                    </div> 
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <section class="panel panel-info" style="height:835px; overflow:auto">
                            <header class="panel-heading">
                                映射规则列表
                                <div style="float:right">
                                    添加
                                    <a class="btn btn-white btn-sm" data-toggle="modal" data-target="#addModal"><i class="icon-plus"></i></a>
                                </div>
                            </header>
                            <div class="list-group" >
                                <a :class="selectedExpId==item.id?'list-group-item active':'list-group-item'" v-for="item in allExpecation" @click=queryExpecation(item.id) >{{ item.expectationName }}
                                    <i class="glyphicon glyphicon-trash" style="float:right" data-toggle="modal" data-target="#delModal"></i>
                                </a>
                            
                            </div>
                        </section>
                        <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content" >
                                    <div class="modal-header">
                                        <h4 class="modal-title">添加新规则</h4>
                                    </div>
                                    <div class="modal-body" >
                                        <section class="panel nopadding">
                                            <div class="panel-body">
                                                <form class="form-horizontal" role="form" id="insertSingleForm">
                                                    <div class="form-group col-lg-10">
                                                        <label class="col-lg-3 control-label">创建人:</label>
                                                        <div class="col-lg-6">
                                                            <input type="text" class="form-control" v-model="newCreator">
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-lg-10" style="margin-top:20px">
                                                        <label class="col-lg-3 control-label">期望名称:</label>
                                                        <div class="col-lg-6">
                                                            <input type="text" class="form-control" v-model="newExpectationName">
                                                        </div>
                                                    </div>

                                                    <!-- <div class="form-group col-lg-10" style="margin-top:20px">
                                                        <label class="col-lg-3 control-label">接口路径:</label>
                                                        <div class="col-lg-9">
                                                            <div class="input-group">
                                                                <div class="input-group-btn">
                                                                    <select type="button" v-model="newSelectedMethod" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ selectedMethod }} <span class="caret"></span>
                                                                        <option value="POST">POST</option>
                                                                        <option value="GET">GET</option>
                                                                        <option value="PUT">PUT</option>
                                                                        <option value="DELETE">DELETE</option>
                                                                        <option value="HEAD">HEAD</option>
                                                                        <option value="OPTIONS">OPTIONS</option>
                                                                        <option value="PATCH">PATCH</option>
                                                                    </select>
                                                                </div>
                                                                <input type="text" class="form-control" v-model="newInterfacePath">
                                                            </div>
                                                        </div>
                                                    </div> -->

                                                    <div class="form-group col-lg-10" style="margin-top:20px">
                                                        <label class="col-lg-3 control-label">动作:</label>
                                                        <div class="col-lg-6">
                                                            <select class="form-control" v-model="newAction">
                                                                <option value="response">response</option>
                                                                <option value="forward">forward</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    
                                                    <div style=" width:100%; text-align:left; margin-left:15px; margin-right:15px; margin-top:30px">
                                                        <hr class="hrLine" style="width:20%;"/>注:详细的接口数据可在编辑页面中填写 <hr class="hrLine" style="width:20%;"/>
                                                    </div> 

                                               

                                                    
                                                    <!-- <div style=" width:100%; text-align:left; margin-left:15px; margin-right:15px;">
                                                        <hr class="hrLine" style="width:40%;"/>  后缀有*为必填项目  <hr class="hrLine" style="width:43%;"/>
                                                    </div> 
                                                    <h4>规则的请求</h4>
                                                    <div class="form-group col-lg-12">
                                                        <div class="col-lg-5 nopadding">
                                                            <label class="col-lg-4 control-label ">方法<font color="#FF0000">*</font></label>
                                                            <div class="col-lg-8">
                                                                <select class="form-control">
                                                                    <option value="post">post</option>
                                                                    <option value="get">get</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-5 nopadding">
                                                            <label class="col-lg-4 control-label ">路径<font color="#FF0000">*</font></label>
                                                            <div class="col-lg-8">
                                                                <input type="text" class="form-control" name="path">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-lg-12" style="margin-top:50px">
                                                        <div class="col-lg-5 nopadding">
                                                            <label class="col-lg-4 control-label ">保护<font color="#FF0000">*</font></label>
                                                            <div class="col-lg-8">
                                                                <select class="form-control">
                                                                    <option value="true">true</option>
                                                                    <option value="false">false</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-5 nopadding">
                                                            <label class="col-lg-4 control-label ">保持存活<font color="#FF0000">*</font></label>
                                                            <div class="col-lg-8">
                                                                <select class="form-control">
                                                                    <option value="true">true</option>
                                                                    <option value="false">false</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-lg-12" style="margin-top:55px" v-for="(index,item) in requestParams">
                                                        <div class="form-group col-lg-2" style="margin-top:5px">
                                                            请求参数:
                                                        </div>
                                                        <div class="form-group col-lg-3">
                                                            <input type="text" class="form-control" v-model="requestParams[index].reqkey" placeholder="参数名称">
                                                        </div>
                                                        <div class="form-group col-lg-5">
                                                            <input type="text" class="form-control" v-model="requestParams[index].reqvalue" placeholder="参数值" >
                                                        </div>
                                                        <div class="form-group col-lg-2">
                                                            <a class="btn btn-white btn-sm" @click="addRequestList"><i class="icon-plus"></i></a>
                                                            <a class="btn btn-white btn-sm" @click="delRequestList(index)"><i class="icon-remove"></i></a>
                                                        </div>
                                                    </div>

                                                    <h4 style="margin-top:50px">规则的返回</h4>
                                                    <div class="form-group col-lg-12">
                                                        <div class="col-lg-5 nopadding">
                                                            <label class="col-lg-4 control-label ">状态码<font color="#FF0000">*</font></label>
                                                            <div class="col-lg-8">
                                                                <input type="text" class="form-control" name="respcode">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-lg-12">
                                                        <div class="col-lg-5 nopadding">
                                                            <label class="col-lg-4 control-label ">延迟时间<font color="#FF0000">*</font></label>
                                                            <div class="col-lg-8">
                                                                <input type="text" class="form-control" name="delaytime">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-lg-12" style="margin-top:55px" v-for="(index,item) in responseParams">
                                                        <div class="form-group col-lg-2" style="margin-top:5px">
                                                            返回参数:
                                                        </div>
                                                        <div class="form-group col-lg-3">
                                                            <input type="text" class="form-control" v-model="responseParams[index].reqkey" placeholder="参数名称">
                                                        </div>
                                                        <div class="form-group col-lg-5">
                                                            <input type="text" class="form-control" v-model="responseParams[index].reqvalue" placeholder="参数值" >
                                                        </div>
                                                        <div class="form-group col-lg-2">
                                                            <a class="btn btn-white btn-sm" @click="addResponseList"><i class="icon-plus"></i></a>
                                                            <a class="btn btn-white btn-sm" @click="delResponseList(index)"><i class="icon-remove"></i></a>
                                                        </div>
                                                    </div> -->


                                                </form>
                                                
                                            </div>
                                        </section>
                                    
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                                        </button>
                                        <button type="button" class="btn btn-primary" @click="addBaseInfo">
                                                
                                            <a href="#edit" data-toggle="tab">提交</a>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        
                        <div class="modal fade" id="delModal" tabindex="-1" role="dialog" aria-labelledby="delModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content" >
                                    <div class="modal-header">
                                        <h4 class="modal-title">删除当前期望</h4>
                                    </div>
                                    <div class="modal-body" >
                                        <h4>确认删除期望?</h4>
                                    </div>
                                    <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                                            </button>
                                            <button type="button" class="btn btn-primary" @click="delCurExpectation()">
                                                    
                                                <a data-toggle="tab">确定</a>
                                            </button>
                                        </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-9" >
                        <ul class="nav nav-tabs" id="nav">
                            <li class="active" >
                                <a href="#preview" data-toggle="tab">预览</a>
                            </li>
                            <li id="mockedit">
                                <a href="#edit" data-toggle="tab">编辑</a>
                            </li>
                            <li>
                                <a href="#run" data-toggle="tab">运行</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div id="preview" class="tab-pane fade in active">
                                <section class="panel" style="height:800px; overflow:auto">
                                    <h3 style="padding-left:20px"><span class="label label-info">基本信息</span></h3>
                                    <div class="col-lg-12" style="padding-top:30px">
                                        <div class="col-lg-6" >
                                            <h4><span class="label label-default">接口名称:</span> {{curExpecation.expectationName }}</h4>
                                        </div>
                                        <div class="col-lg-4" >
                                            <h4><span class="label label-default">创建人:</span> {{ curExpecation.creator }}</h4>
                                        </div>
                                    </div>
                                    <div class="col-lg-12" style="padding-top:60px">
                                        <div class="col-lg-4" >
                                            <h4><span class="label label-default">更新时间:</span> {{ formatDate(curExpecation.modifiedTime) }}</h4>
                                        </div>
                                        
                                    </div>

                                    <div class="col-lg-12" style="padding-top:60px">
                                        <div class="col-lg-11" >
                                            <h4><span class="label label-default">接口路径:</span>
                                                <span class="label label-success">{{ curExpecation.httpRequest.method }}</span>
                                                {{ curExpecation.httpRequest.path }}
                                            </h4>
                                        </div>
                                    </div>

                                    <div class="col-lg-12" style="padding-top:60px">
                                        <div class="col-lg-12">
                                            <h4><span class="label label-default">Mock地址:</span> http://10.101.167.184:8080/atfcloud2.0a{{ curExpecation.httpRequest.path }} </h4>          
                                        </div>
                                    </div>

                                    <div style="padding-top:60px">
                                        <h3 style="padding-left:20px"><span class="label label-info">返回数据</span></h3>
                                    </div>
                                    <pre class="well" style="margin-left:20px; margin-top:20px">{{ curExpecationRet }}
                                    </pre>
                                    
                                </section>
                                
                            </div>
                            <div id="edit" class="tab-pane fade">
                                <section class="panel" style="height:800px; overflow:auto">
                                    <div>
                                        
                                        <div style="margin-left:1000px; margin-top: 20px;">
                                            <a class="btn btn-white btn-sm" ><i class="icon-ok" ></i>提交修改</a>
                                        </div>

                                        <h3 style="padding-left:20px; "><span class="label label-info">基本设置</span></h3>
                                        <div class="well" style="margin-left:20px; margin-top:20px;">
                                            <div>
                                                <div class="row" style="margin-left:20px; margin-top:20px;">
                                                    <div  style="display: inline-block;"> <h5>期望名称:</h5></div>
                                                    <div  style="display: inline-block;"> <input class="form-control" v-model="curExpecation.expectationName"></div>
                                                </div>

                                                <div style="margin-left:20px; margin-top:20px;">
                                                    <div  style="display: inline-block;"> <h5>接口路径:</h5></div>
                                                    <div  style="display: inline-block;">
                                                        <div class="input-group ">
                                                            <div class="input-group-btn">
                                                                <select type="button" v-model="curExpecation.httpRequest.method" class="btn btn-default dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ selectedMethod }} <span class="caret"></span>
                                                                    <option value="POST">POST</option>
                                                                    <option value="GET">GET</option>
                                                                    <option value="PUT">PUT</option>
                                                                    <option value="DELETE">DELETE</option>
                                                                    <option value="HEAD">HEAD</option>
                                                                    <option value="OPTIONS">OPTIONS</option>
                                                                    <option value="PATCH">PATCH</option>
                                                                </select>
                                                            </div>
                                                            <input class="form-control" v-model="curExpecation.httpRequest.path">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <h3 style="padding-left:20px"><span class="label label-info">请求参数设置</span></h3>
                                        <div class="btn-group" role="group" style="padding-top:20px; margin-left:300px">
                                            <button type="button" class="btn btn-primary" @click="changeReqEditFlag('1')">body</button>
                                            <button type="button" class="btn btn-primary" @click="changeReqEditFlag('2')">query</button>
                                            <button type="button" class="btn btn-primary" @click="changeReqEditFlag('3')">headers</button>
                                            <button type="button" class="btn btn-primary" @click="changeReqEditFlag('4')">cookies</button>
                                            <button type="button" class="btn btn-primary" @click="changeReqEditFlag('5')">高级</button>
                                        </div>
                                          
                                        <div class="well" style="margin-left:20px; margin-top:20px;" v-if="editReqFlag==='1'">
                                            <label class="checkbox-inline">
                                                <input type="radio" name="optionsRadiosinline" value="json" checked>
                                                json
                                            </label>
                                            <label class="checkbox-inline">
                                                <input type="radio" name="optionsRadiosinline" value="raw">
                                                raw
                                            </label>

                                            <textarea class="form-control" style="margin-top:20px; height:250px">asd</textarea>
                                        </div>

                                        <div class="well" style="margin-left:20px; margin-top:20px;" v-if="editReqFlag==='2'">
                                            <row class="col-lg-12" style="display:inline-block; margin-top:10px" v-for="(index,item) in requestParams">
                                                <div class="form-group col-lg-2 text-right">
                                                    请求参数:
                                                </div>
                                                <div class="form-group col-lg-2 ">
                                                    <input type="text" class="form-control" v-model="requestParams[index].reqkey" placeholder="参数名称">
                                                </div>
                                                <div class="form-group col-lg-5">
                                                    <input type="text" class="form-control" v-model="requestParams[index].reqvalue" placeholder="参数值" >
                                                </div>
                                                <div class="form-group col-lg-2">
                                                    <a class="btn btn-white btn-sm" @click="addRequestList"><i class="icon-plus"></i></a>
                                                    <a class="btn btn-white btn-sm" @click="delRequestList(index)"><i class="icon-remove"></i></a>
                                                </div>
                                            </row>

                                        </div>

                                        <div class="well" style="margin-left:20px; margin-top:20px;" v-if="editReqFlag==='3'">
                                            <row class="col-lg-12" style="display:inline-block; margin-top:10px" v-for="(index,item) in reqHeaders">
                                                <div class="form-group col-lg-2 text-right">
                                                    请求头部:
                                                </div>
                                                <div class="form-group col-lg-4 ">
                                                    <input type="text" class="form-control" v-model="reqHeaders[index].reqkey" placeholder="头部名称">
                                                </div>
                                                <div class="form-group col-lg-4">
                                                    <input type="text" class="form-control" v-model="reqHeaders[index].reqvalue" placeholder="参数值" >
                                                </div>
                                                <div class="form-group col-lg-2">
                                                    <a class="btn btn-white btn-sm" @click="addReqHeaders"><i class="icon-plus"></i></a>
                                                    <a class="btn btn-white btn-sm" @click="delReqHeaders(index)"><i class="icon-remove"></i></a>
                                                </div>
                                            </row>
                                        </div>

                                        <div class="well" style="margin-left:20px; margin-top:20px;" v-if="editReqFlag==='4'">
                                            <row class="col-lg-12" style="display:inline-block; margin-top:10px" v-for="(index,item) in reqCookies">
                                                <div class="form-group col-lg-2 text-right">
                                                    cookies
                                                </div>
                                                <div class="form-group col-lg-4 ">
                                                    <input type="text" class="form-control" v-model="reqCookies[index].reqkey" placeholder="cookie头">
                                                </div>
                                                <div class="form-group col-lg-4">
                                                    <input type="text" class="form-control" v-model="reqCookies[index].reqvalue" placeholder="cookie值" >
                                                </div>
                                                <div class="form-group col-lg-2">
                                                    <a class="btn btn-white btn-sm" @click="addReqCookies"><i class="icon-plus"></i></a>
                                                    <a class="btn btn-white btn-sm" @click="delReqCookies(index)"><i class="icon-remove"></i></a>
                                                </div>
                                            </row>
                                        </div>

                                        <div class="well" style="margin-left:20px; margin-top:20px; height: 100px;" v-if="editReqFlag==='5'">
                                            <div class="form-group col-lg-12" >
                                                <div class="col-lg-6 nopadding" >
                                                    <label class="col-lg-2 control-label ">security:</label>
                                                    <div class="col-lg-4">
                                                        <select class="form-control" v-model="security">
                                                            <option value="">请选择</option>
                                                            <option value="true">true</option>
                                                            <option value="false">false</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 nopadding">
                                                    <label class="col-lg-2 control-label ">keepalive:</label>
                                                    <div class="col-lg-4">
                                                        <select class="form-control" v-model="keepalive">
                                                            <option value="">请选择</option>
                                                            <option value="true">true</option>
                                                            <option value="false">false</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div v-if="respforwardFlag=='response'"> 
                                            <h3 style="padding-left:20px"><span class="label label-info">返回数据设置</span></h3>
                                            <div class="form-group col-lg-12" style="margin-top:20px; display:inline-block">
                                                <row>
                                                    <div class="col-lg-5 nopadding" >
                                                        <label class="col-lg-3 control-label center">状态码:</label>
                                                        <div class="col-lg-5">
                                                            <input class="form-control" v-model="respCode" placeholder="请输入状态码">
                                                        </div>
                                                        
                                                    </div>
                                                    <div class="col-lg-5 nopadding">
                                                        <label class="col-lg-3 control-label center" >延时时间:</label>
                                                        <div class="col-lg-5" >
                                                            <input class="form-control" v-model="respDelayTime" placeholder="输入延时时间">
                                                        </div>
                                                        <div class="col-lg-4 nopadding">ms</div>
                                                    </div>
                                                </row>
                                                <div class="btn-group" role="group" style="padding-top:20px; margin-left:300px">
                                                    <button type="button" class="btn btn-primary" @click="changeRespEditFlag('1')">body</button>
                                                    <button type="button" class="btn btn-primary" @click="changeRespEditFlag('2')">headers</button>
                                                    <button type="button" class="btn btn-primary" @click="changeRespEditFlag('3')">cookies</button>
                                                    
                                                </div>
                                                <div class="well " style="margin-left:20px; margin-top:20px;" v-if="editRespFlag==='1'">
                                                    <div class="col-lg-10">
                                                        <div class="col-lg-5">
                                                            <label class="checkbox-inline">
                                                                <input type="radio" name="optionsRadiosinline" value="json" checked>
                                                                json
                                                            </label>
                                                            <label class="checkbox-inline">
                                                                <input type="radio" name="optionsRadiosinline" value="raw">
                                                                raw
                                                            </label>
                                                            <label class="checkbox-inline">
                                                                <input type="radio" name="optionsRadiosinline" value="string">
                                                                string
                                                            </label>
                                                        </div>
                                                        
                                                        <div class="col-lg-2" style="text-align:center">
                                                            报错信息:
                                                        </div>
                                                        
                                                        <div class="col-lg-3">
                                                            <input class="form-control" v-model="respReasonPhrase" placeholder="">
                                                        </div>
                                                    </div>
                                                    <textarea class="form-control" style="margin-top:20px; height:250px">asd</textarea>
                                                </div>

                                                <div class="well" style="margin-left:20px; margin-top:20px;" v-if="editRespFlag==='2'">
                                                    <row class="col-lg-12" style="display:inline-block; margin-top:10px" v-for="(index,item) in respHeaders">
                                                        <div class="form-group col-lg-2 text-right">
                                                            返回头部:
                                                        </div>
                                                        <div class="form-group col-lg-4 ">
                                                            <input type="text" class="form-control" v-model="respHeaders[index].respkey" placeholder="头部名称">
                                                        </div>
                                                        <div class="form-group col-lg-4">
                                                            <input type="text" class="form-control" v-model="respHeaders[index].respvalue" placeholder="参数值" >
                                                        </div>
                                                        <div class="form-group col-lg-2">
                                                            <a class="btn btn-white btn-sm" @click="addRespHeaders"><i class="icon-plus"></i></a>
                                                            <a class="btn btn-white btn-sm" @click="delRespHeaders(index)"><i class="icon-remove"></i></a>
                                                        </div>
                                                    </row>
                                                </div>

                                                <div class="well" style="margin-left:20px; margin-top:20px;" v-if="editRespFlag==='3'">
                                                    <row class="col-lg-12" style="display:inline-block; margin-top:10px" v-for="(index,item) in respCookies">
                                                        <div class="form-group col-lg-2 text-right">
                                                            cookie:
                                                        </div>
                                                        <div class="form-group col-lg-4 ">
                                                            <input type="text" class="form-control" v-model="respCookies[index].respkey" placeholder="cookie头部">
                                                        </div>
                                                        <div class="form-group col-lg-4">
                                                            <input type="text" class="form-control" v-model="respCookies[index].respvalue" placeholder="cookie值" >
                                                        </div>
                                                        <div class="form-group col-lg-2">
                                                            <a class="btn btn-white btn-sm" @click="addRespCookies"><i class="icon-plus"></i></a>
                                                            <a class="btn btn-white btn-sm" @click="delRespCookies(index)"><i class="icon-remove"></i></a>
                                                        </div>
                                                    </row>
                                                </div>

                                            </div>
                                        </div>

                                        <div v-if="respforwardFlag=='forward'"> 
                                            <h3 style="padding-left:20px"><span class="label label-info">转发数据设置</span></h3>
                                            <div class="well" style="margin-left:20px; margin-top:20px;">
                                                <div class="col-lg-6 nopadding" >
                                                    <div  style="display: inline-block;"> <h5>host:</h5></div>
                                                    <div  style="display: inline-block;"> <input class="form-control" v-model=""></div>
                                                </div>

                                                <div class="col-lg-6 nopadding" >
                                                    <div  style="display: inline-block;"> <h5>port:</h5></div>
                                                    <div  style="display: inline-block;"> <input class="form-control" v-model=""></div>
                                                </div>
                                                
                                                <div class="row" style=" margin-top:50px;">
                                                    <div class="col-lg-6 " >
                                                        <label class="col-lg-2 control-label ">协议:</label>
                                                        <div class="col-lg-4">
                                                            <select class="form-control" v-model="">
                                                                <option value="" selected>请选择</option>
                                                                <option value="HTTP">HTTP</option>
                                                                <option value="HTTPS">HTTPS</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>

                                        </div>

                                    </div>
                                </section>
                            </div>

                            <div id="run" class="tab-pane fade">
                                <p>q q</p>
                            </div>
                        </div>

                    </div>
                </div>
        

  

            </section>
            <link rel="import" href="./common/copy-right.html?__inline">
        </section>
    </div>
</body>
</html>

<link rel="import" href="./common/footer.html?__inline">
<script src="../lib/vue-resource.min.js"></script>
<script type="text/javascript" src="../static/js/mockserver.js"></script>
<script type="text/javascript" src="../lib/jquery.validate.js"></script>