<!DOCTYPE html>
<html>
  
<head>
    <link rel="import" href="./common/header.html?__inline">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <link rel="stylesheet" type="text/css" href="../static/css/pagination.css">
    <link rel="stylesheet" type="text/css" href="../static/css/elementLibrary.css">
    <link rel="stylesheet" type="text/css" href="../static/css/metroStyle.css">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap-select.min.css">

    <title>quicklyElement</title>
    <style>
        .info{
            padding:10px;
            margin:0 auto; 
            background-color: #fff;
            border-radius:  4px;
            width : 800px;
        }
        
        .processInfo {
            text-align: center;
        }
        .processInfo span{
            padding:5px;
            font-size: 1.7em;
        }
        .modal-footer{
            text-align: center;
        }
        .form-horizontal{
            overflow:hidden;
        }
    </style> 
</head>

<body id="v-quicklyExecute" v-cloak>
        <div class="content">
            <!--header start-->
            <link rel="import" href="./common/header-guide.html?__inline">
            <!--header end-->
            <!--sidebar start-->
            <link rel="import" href="./common/aside-guide.html?__inline">
            <!--sidebar end-->
            <!--main content start-->
            <section id="main-content">
                <section class="wrapper">
                    <section class="panel processInfo">
                        <span>
                            共五步  第四步：执行用例
                            <i class="icon-question-sign onShowInfo">
                                <div id = "onShowRectangleInfo">
                                    <span>执行用例</span><br>
                                    <span>Tips:</span><br>
                                    <span>1. 选择执行机</span><br>
                                    <span>2. 点击用例执行，执行用例。</span><br>
                                    <div class="onShowTriangle"></div>
                                </div>
                            </i>
                        </span>
                        <a data-dismiss="modal" class="btn btn-success" type="button" @click="next()"> 执行完毕查看结果</a>
                    </section>
                    
                    <div class="tab-pane " id="script">
                        
						          <div class="row">
						            <div class="col-xs-12">
						              <section class="panel">
						                  <header class="panel-heading">
						                      用例列表
						                  </header>
						                <table v-if="testcaseList.length" id="top_table" style="margin-left: 0; width: 100%;" class="table table-bordered text-center table-striped">
						                  <thead>
						                    <tr>
						                      <th class="index" style="text-align: center;">选择</th>
						                      <th class="number" style="text-align: center;">用例</th>
						                      <th style="text-align: center;">描述</th>
						                    </tr>
						                  </thead>
						                  <tbody>
						                    <tr v-for="(index,testcase) in testcaseList">
						                      <td class="index">
						                        <input type="checkbox" name="chk_list"  @click="clickToInsertSence(testcase.id)"  id="{{testcase.id}}">
						                      </td>
						                      <td class="number">{{testcase.testpoint}}</td>
						                      <td>{{testcase.note}}</td>
						                    </tr>
						                  </tbody>
						                </table>
						                <div v-else style="text-align: center;margin: 20px auto;">暂无数据</div>
						              </section>
						            </div>
						           </div>
                        <!-- table start -->
                        <div class="row">
                        <div class="col-sm-12">
                            <div class="panel">
                                <header class="panel-heading">
                                    执行信息
                                </header>
                                <div id="table2" class="table-wrapper operation-wrapper" style="margin-top: 0px;">
                                    <div class="row" style="margin-bottom: 15px;padding: 0 15px;">
                                        <div class="col-xs-12 top-btn">
                                            <label class="option-name control-label col-lg-2">执行机选择</label>
                                            <div class=" col-lg-4 ">
                                                <select class="selectpicker execute-range form-control" id="runnerselected"
                                                        v-model="runnerselected" multiple>
                                                </select>
                                            </div>
                                            <a class="btn btn-white col-lg-2" data-toggle="modal" @click="executeAll();">
                                                <i class="icon-play"></i> 用例执行
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                </div>
                            </div>
                        </div>
                        
                        <div style="flex: 1 1 auto;"></div>
                        <!-- table end -->
                        </div>
                    <!-- <link rel="import" href="./common/copy-right.html?__inline"> -->
                    
                    
                    <!-- successModal start -->
                    <div class="modal fade" id="successModal" tabindex="-1"  role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title">操作成功</h4>
                                </div>
                                <div class="modal-body">
                                    <h4>操作成功！</h4>
                                </div>
                                <div class="modal-footer">
                                    <button data-dismiss="modal" class="btn btn-success" type="button">确定</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- successModal end -->
                    
                    <!-- elementAlertModal start -->
                    <div class="modal fade" id="elementAlertModal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title">操作失败</h4>
                                </div>
                                <div class="modal-body">
                                    <h4>请先选中UI！</h4>
                                </div>
                                <div class="modal-footer">
                                    <button data-dismiss="modal" class="btn btn-success" type="button">确定</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- elementAlertModal end -->
		            <!-- failModal start -->
		            <div class="modal fade" id="failModal" tabindex="-1" role="dialog" aria-labelledby="failModalLabel" aria-hidden="true">
		                <div class="modal-dialog">
		                    <div class="modal-content">
		                        <div class="modal-header">
		                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		                            <h4 class="modal-title">操作失败</h4>
		                        </div>
		                        <div class="modal-body">
		                            <h4>{{failMSG}}</h4>
		                        </div>
		                        <div class="modal-footer">
		                            <button data-dismiss="modal" class="btn btn-success" type="button">确定</button>
		                        </div>
		                    </div>
		                </div>
		            </div>
                    <!-- failModal end -->
                    
                    <!-- 新增用例 start-->
                    <div class="modal fade" id="addtemplateModal" tabindex="-1" role="dialog" aria-labelledby="importModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title">新增用例</h4>
                                </div>
                                <div class="modal-body">
                                    <div>
                                    <form id="templateAdd">
                                        <div>
                                        <label for="scriptName">用例名称</label>
                                        <input id="scriptName" type="text" name="name" required="required" v-model="newTemplate.name">
                                        </div>
                                        <div>
                                        <label for="scriptDescription">用例描述</label>
                                        <input id="scriptDescription" type="text" name="description" required="required" v-model="newTemplate.description">
                                        </div>
                                    </form>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button data-dismiss="modal" class="btn btn-default" type="button">取消</button>
                                    <button data-dismiss="modal" class="btn btn-success" type="submit" @click=" saveTemplate();">保存</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 新增用例 end -->
                    <!-- 添加操作项 start-->
                    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">添加操作项</h4>
                        </div>
                        <div class="modal-body" style="height: 280px;">
                            <div id="classPart1">
                            <div id="elementWord">
                                <label>元素库</label>
                                <ul class="ztree" id="element"></ul>
                            </div>
                            </div>
                            <div id="classPart2">
                            <div id="p_functionWord">
                                <label>公共函数</label>
                                <ul id="p_function" class="ztree"></ul>
                            </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button data-dismiss="modal" class="btn btn-default" type="button">取消</button>
                            <button class="btn btn-success" id="confirm" data-dismiss="modal" type="button" type="submit">确认</button>
                        </div>
                        </div>
                    </div>
                    </div>
                    <!-- 添加操作项 end -->
                    <!-- 添加多项操作项 start-->
                    <div class="modal fade" id="addMultiModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                            <div class="modal-header"> 
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">添加多项操作项</h4>
                            </div>
                            <div class="modal-body" style="height: 280px;">
                                <div style="height:250px;">
                                <div id="multiclassPart1">
                                    <label>元素库</label>
                                    <ul class="ztree" id="elementMulti"></ul>
                                </div>
                                <div id="multiclassPart2">
                                    <label>公共函数</label>
                                    <ul id="p_functionMulti" class="ztree"></ul>
                                </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button data-dismiss="modal" class="btn btn-default" type="button">取消</button>
                                <button class="btn btn-success" id="confirmMulti" data-dismiss="modal" type="button" type="submit">确认</button>
                            </div>
                            </div>
                        </div>
                    </div>
                    <!-- 添加多项操作项 end -->
                    <!-- 显示参数 start-->
                    <div class="modal fade" id="parameterList" tabindex="-1" role="dialog" aria-labelledby="importModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">参数列表</h4>
                            </div>
                            <div class="modal-body">
                                <div id="ParaMeterL">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button data-dismiss="modal" class="btn btn-default" type="button">取消</button>
                                <button data-dismiss="modal" id="paraConfirm" class="btn btn-success" type="button">确认</button>
                            </div>
                            </div>
                        </div>
                    </div>
                    <!--显示参数 end -->
                    <!-- 操作成功提示模态框 start-->
                    <div class="modal fade" id="success" tabindex="-1" role="dialog" aria-labelledby="importModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">操作成功</h4>
                            </div>
                            <div class="modal-body">
                                <div>
                                操作成功
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button data-dismiss="modal" class="btn btn-default" type="button">取消</button>
                                <button data-dismiss="modal" class="btn btn-success" type="button">确认</button>
                            </div>
                            </div>
                        </div>
                    </div>
                    <!--操作成功提示模态框 end -->
                    <!-- 操作失败提示模态框 start-->
                    <div class="modal fade" id="fail" tabindex="-1" role="dialog" aria-labelledby="importModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">操作失败</h4>
                            </div>
                            <div class="modal-body">
                                <div>
                                操作失败
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button data-dismiss="modal" class="btn btn-default" type="button">取消</button>
                                <button data-dismiss="modal" class="btn btn-success" type="button">确认</button>
                            </div>
                            </div>
                        </div>
                    </div>
                    <!--操作失败提示模态框 end -->
                    <!--表格中替换操作项 即操作项一栏前的编辑符号-->
                    <div class="modal fade" tabindex="-1" role="dialog" id="ui-ele-modal">
                        <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">选择操作项与方法</h4>
                            </div>
                            <div class="modal-body">
                            <div class="ui-element">
                                <h5>UI与元素</h5>
                                <ul id="ui-element-ul" class="ztree"></ul>
                            </div>
                            <div class="function-div">
                                <h5>公共函数集</h5>
                                <ul id="functions-ul" class="ztree"></ul>
                            </div>
                            </div>
                            <div class="modal-footer">
                            <button class="btn btn-default" data-dismiss="modal">取消</button>
                            <button class="btn btn-primary" @click="editRow()">确定</button>
                            </div>
                        </div>
                        </div>
                    </div>
                    <!-- modal end -->
                    <!-- 多项选择的UI与element -->
                    <div class="modal fade" tabindex="-1" role="dialog" id="ui-ele-modal2">
                        <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">选择操作项与方法</h4>
                            </div>
                            <div class="modal-body">
                            <div class="ui-element">
                                <h5>UI与元素</h5>
                                <ul id="ui-element-ul2" class="ztree"></ul>
                            </div>
                            <div class="function-div">
                                <h5>公共函数集</h5>
                                <ul id="functions-ul2" class="ztree"></ul>
                            </div>
                            </div>
                            <div class="modal-footer">
                            <button class="btn btn-default" data-dismiss="modal">取消</button>
                            <button class="btn btn-primary" data-dismiss="modal" @click="editRowMultiple()">确定</button>
                            </div>
                        </div>
                        </div>
                    </div>
                </section>
            </section>
            <!--main content end-->
            <div class="footer">
                <link rel="import" href="./common/copy-right.html?__inline">
            </div>
        </div>
        <!--UILinked objectmodal start -->
    </body>
</html>

<link rel="import" href="./common/footer.html?__inline">
<script src="../lib/vue-resource.min.js"></script>
<script src="../static/js/vac-functions.es.js"></script>
<script type="text/javascript" src="../lib/jquery-ui.js"></script>
<script type="text/javascript" src="../static/js/quicklyExecute.js"></script>
<script type="text/javascript" src="../lib/bootstrap-select.min.js"></script>

