<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="import" href="./common/header.html?__inline">
  <!-- css for this page only -->
  <!-- 引入样式 -->
  <link rel="stylesheet" type="text/css" href="../static/css/index.css">
  <link rel="stylesheet" type="text/css" href="../static/css/elementLibrary.css">
  <link rel="stylesheet" type="text/css" href="../static/css/metroStyle.css">
  <link rel="stylesheet" href="text/css" href="../static/css/case-operation.scss">
  <title>用例信息查看</title>
  <style>
    #menuContent,
    .elementContent,
    .tab-content {
      height: calc(100vh - 190px);
      background-color: #fff;
    }
  </style>
</head>

<body id="app" v-cloak>
  <div class="content" id="">
    <!--header start-->
    <!-- <link rel="import" href="./common/header-guide.html?__inline"> -->
    <!--header end-->
    <!--sidebar start-->
    <!-- <link rel="import" href="./common/aside-guide.html?__inline"> -->
    <!--sidebar end-->
    <!--main content start-->
    <div class="row">
      <div class="col-xs-12">
          <section class="panel panel-pad panel-bottom bar">
              <!-- select start -->
              <form class="form-horizontal">
                  <div class="form-group bar ">

                      <label class="col-xs-2 control-label">规则名称</label>
                      <div class="col-xs-2">
                        <input class="form-control" id="caselibid"  v-model="ruleName" readonly>
                        </input>
                      </div>
                      <label class="col-xs-1 control-label">规则描述</label>
                      <div class="col-xs-2">
                        <input class="form-control " id="transid" v-model="ruleDesc" readonly>
                        </input>
                      </div>
                      <div class="col-xs-2">
                        <a class="btn btn-default" data-toggle="modal" @click="saveRules()">保存规则</a>
                      </div>
                  </div>
              </form>
              <!-- select end -->
          </section>
      </div>
  </div>
    <section id="main-content" style="margin-left: 0;">
      <section class="wrapper" style="margin-top: 0;">
        <div v-for="(index,item) in elements" style="margin-top:20px;">
          <a style="position: absolute; margin-top: {{item.pointY}}px; margin-left: {{item.pointX}}px" data-toggle="modal" href="#setRuleModal" >
            <img :src="'http://10.101.167.184:8080/'+item.screenShotPath" @click="setCurType(item.classType, item.elementId, index)" style="width:{{item.sizeWidth}}px; height:{{item.sizeHeight}}px;">
          </a>
        </div>
      </section>
    </section>
    <!-- <object-repo></object-repo> -->


    <!-- addrule start -->
    <div class="modal fade" id="setRuleModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">设置规则</h4>
          </div>
          <div class="modal-body" >
            <!-- modal-body start -->
            <section class="panel">
              <form id="addruleForm" class="form-horizontal" role="form">
                <div v-if="modal.type=='webedit'">
                  <label style="text-align:center;"><font size="5" style="margin-left: 150px;">设置输入框的规则</font></label>
                  <div class="form-group ">
                    <label class="col-xs-3 control-label">设置规则:</label>
                    <label class="checkbox-inline">
                      <input type="radio" name="isRestraint" value="true" v-model="isRestraint" checked>
                      有
                    </label>
                    <label class="checkbox-inline">
                        <input type="radio" name="isRestraint" value="false" v-model="isRestraint">
                        无
                    </label>
                  </div>
                  <div class="form-group ">
                    <label class="col-xs-3 control-label">必输项:</label>
                    <label class="checkbox-inline">
                      <input type="radio" name="inputMust" value="true" v-model="inputMust" checked>
                      是
                    </label>
                    <label class="checkbox-inline">
                        <input type="radio" name="inputMust" value="false" v-model="inputMust">
                        否
                    </label>
                  </div>
                  
                  <div class="form-group ">
                    <label class="col-xs-3 control-label">标准值</label>
                    <div class="col-xs-5">
                      <input class="form-control" v-model="inputValue">
                    </div>
                  </div>
                  <div class="form-group ">
                    <label class="col-xs-3 control-label">最小长度</label>
                    <div class="col-xs-5">
                      <input class="form-control" v-model="inputMinLength">
                    </div>
                  </div>

                  <div class="form-group ">
                    <label class="col-xs-3 control-label">最大长度</label>
                    <div class="col-xs-5">
                      <input class="form-control" v-model="inputMaxLength">
                    </div>
                  </div>
                  
                  <div class="form-group ">
                    <label class="col-xs-3 control-label">不能包含</label>
                    <label class="checkbox-inline">
                        <input type="checkbox" name="inputSpecialCh" value="chinese">中文
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" name="inputSpecialCh" value="special">特殊字符
                    </label>
                  </div>
                </div>
                

                <div v-if="modal.type=='weblist'">
                  <label style="text-align:center;"><font size="5" style="margin-left: 150px;">设置下拉框的规则</font></label>
                  <div class="form-group">
                    <label class="col-xs-3 control-label">标准值</label>
                    <div class="col-xs-5">
                      <select class="form-control" v-model="selectEleVal">
                        <option v-for="item in elements[modal.index].optionTexts"  :value="item">{{item}}</option>
                      </select>
                    </div>
                  </div>

                </div>
              </form>
            </section>
            <!-- modal-body end -->
          </div>
          <div class="modal-footer">
            <button  data-dismiss="modal"  class="btn btn-default"    type="button">取消</button>
            <button data-dismiss="modal" class="btn btn-success" type="button" @click="setRules()">添加</button>
          </div>
        </div>
      </div>
    </div>
    <!-- addrule end -->

    <!--main content end-->
    <div class="footer">
      <link rel="import" href="./common/copy-right.html?__inline">
    </div>
  </div>
</body>

</html>
<link rel="import" href="./common/footer.html?__inline">
<!-- 先引入 Vue -->
<!-- <script src="https://unpkg.com/vue/dist/vue.js"></script> -->
<!--script for this page only-->
<!-- ztree -->
<script type="text/javascript" src="../lib/jquery.ztree.all.min.js"></script>
<link rel="import" href="./common-vac/alert.html?__inline">
<link rel="import" href="./common-vac/confirm.html?__inline">
<script src="../static/js/config.js"></script>
<script src="../static/js/vac-functions.es.js"></script>
<script type="text/javascript" src="../lib/jquery.ztree.exhide.min.js"></script>
<script src="../static/js/ruleinput.js"></script>

<!-- 引入组件库 -->
<!-- <script src="https://unpkg.com/element-ui/lib/index.js"></script> -->
