<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="import" href="./common/header.html?__inline">
    <link rel="import" href="./noLoginAlert.html?__inline">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <link rel="stylesheet" type="text/css" href="../static/css/base.scss">
    <link rel="stylesheet" type="text/css" href="../static/css/pagination.css">
    <link rel="stylesheet" type="text/css" href="../static/css/metroStyle.css">
    <link rel="stylesheet" type="text/css" href="../static/css/scene-setting.scss">
    <link rel="stylesheet" type="text/css" href="../static/css/jquery.datetimepicker.min.css">
    <script src="../lib/jquery.js"></script>
    <script src="../lib/jquery-ui.js"></script>
    <script src="../lib/bootstrap.min.js"></script>
    <script src="../lib/bootstrap-select.min.js"></script>
    <script src="../lib/jquery.datetimepicker.full.min.js"></script>
    <script type="text/javascript" src="../lib/vue.js"></script>
    <link rel="stylesheet" href="../static/css/base/bootstrap.css">
    <link rel="stylesheet" href="../static/css/bootstrap-select.min.css">

    <title>场景设置</title>
    <style>
        .tooltipwindow-top {
            position: relative;
            color: red;
            font-size: 15px;
        }

        .tooltipwindow-top i {
            position: absolute;
            left: 50%;
        }

        .icon-angle-up {
            top: -1px;
        }

        .icon-angle-down {
            top: 7px;
        }
        .arrow-right{
            float: right;
            width:15px;
            height:30px;
            line-height: 30px;
        }
        #main-content .content-wrapper .main .main-content .caseFlow{
            margin-right: 5px;
            display: inline-block;
            margin-bottom: 0;
            min-width: 50px;
            width: 175px;
            height: 30px;
            border: 0px solid #ddd5d5;
        }
        #main-content .content-wrapper .main .main-content .case .case-header-Flow{
            height: 30px;
            width:155px;
            padding:0;
            position: relative;
            background: white;
            border: 1px solid #ddd5d5;
            border-radius: 5px;
            flex: 0 0 auto;
        }
        .optionStyle {
            font: 12px '微软雅黑 Light';
            margin: 5px 0;
        }

        .selectStyle {
            line-height: 40px;
        }
        #main-content .content-wrapper .main .main-content .caseStyle{
            margin-top:15px;
            padding:15px 5px 10px 5px;
        }
    </style>
    <script>
        $('#caseSelect').selectpicker({
            multiple: true,
            actionsBox: true
        })

    </script>
</head>
<body id="v-body" v-cloak v-clock>
<div class="editTrigger" id="editTrigger" v-show="triggerShow" style="z-index: 1000;display: none;">
    <header class="editTrigger-header" id="editTrigger-header">
        <span class="editTrigger-title">{{triggerInfo.editTriggerType}}触发器</span>
        <span class="icon-remove" @click="closeTrigger();"></span>
    </header>
    <main class="editTrigger-main">
        <div class="trigger-name-wrapper trigger-item-wrapper">
            <label class="trigger-label">触发器名称:</label>
            <input type="text" name="" v-model="editTriggerData.name">
        </div>
        <div class="trigger-desc-wrapper trigger-item-wrapper">
            <label class="trigger-label">描述:</label>
            <textarea rows="4" v-model="editTriggerData.desc"></textarea>
        </div>
        <div class="trigger-item-wrapper trigger-time-wrapper">
            <label class="trigger-label">执行时机:</label>
            <div class="checkbox-wrapper">
                <label class="checkbox-item"><input type="checkbox" value="1" v-model="editTriggerData.occasions">场景执行前</label>
                <label class="checkbox-item"><input type="checkbox" value="2" v-model="editTriggerData.occasions">场景执行后</label>
                <label class="checkbox-item"><input type="checkbox" value="3" v-model="editTriggerData.occasions">用例执行前</label>
                <label class="checkbox-item"><input type="checkbox" value="4" v-model="editTriggerData.occasions">用例执行后</label>
                <label class="checkbox-item"><input type="checkbox" value="5" v-model="editTriggerData.occasions">元素对象方法执行前</label>
                <label class="checkbox-item"><input type="checkbox" value="6" v-model="editTriggerData.occasions">元素对象方法执行后</label>
            </div>
        </div>
        <div class="trigger-condition-wrapper trigger-item-wrapper">
            <label class="trigger-label">执行条件</label>
            <div class="radio-button-wrapper">
                <label class="radio-item"><input type="radio" value="1" v-model="editTriggerData.Conditionrelate">满足以下所有条件</label>
                <label class="radio-item"><input type="radio" value="2" v-model="editTriggerData.Conditionrelate">满足一下任一条件</label>
                <label class="radio-item"><input type="radio" value="3" v-model="editTriggerData.Conditionrelate">无条件限制</label>
            </div>
        </div>
        <div class="trigger-item-wrapper trigger-table-wrapper">
            <table>
                <thead>
                <tr>
                    <th scope="col">条件名称</th>
                    <th scope="col">匹配方式</th>
                    <th scope="col">匹配值</th>
                    <th scope="col">
                        <button class="btn btn-primary btn-xs" @click="addTriggerCondition();">增加</button>
                    </th>
                </tr>
                </thead>
                <tbody id="conditionsBody">
                <!--                          <tr>
                  <td>
                    <select class="objectname">
                      <option value="1" selected>用例编号</option>
                      <option value="2">优先级</option>
                      <option value="3">用例类型</option>
                      <option value="4">执行结果</option>
                    </select>
                  </td>
                  <td>
                    <select class="matchtype">
                      <option value="1">等于</option>
                      <option value="2">大于</option>
                    </select>
                  </td>
                  <td>
                    <input type="text" name="" style="width:100%;height: 100%;border: none;" class="value">
                  </td>
                  <td>
                    <button class="btn btn-default" @click="removeTriggerCondition(index)">删除</button>
                  </td>
                </tr> -->
                </tbody>
            </table>
        </div>
        <div class="trigger-item-wrapper trigger-action-wrapper">
            <label class="trigger-label">执行动作: </label>
            <button class="btn-item-add" @click="addTriggerAction();"><span class="icon-plus"></span></button>
            <!-- <div class="action-item-wrapper">
              <button class="" @click=""><span class="icon-remove"></span></button>
              <span class="id">{{item.id}}</span>

              <div class="item-row">
                <label>选择操作</label>
                <select class="actionname">
                  <option value="hello">发送邮件</option>
                </select>
              </div>
              <div class="item-row">
                <label>脚本类型</label>
                <select class="actiontype">
                  <option value="2">groovy</option>
                </select>
              </div>
              <div class="item-row">
                <label>脚本内容</label>
                <textarea rows="5" class="scriptcontent">alkdjlaksdj</textarea>
              </div>
            </div> -->
        </div>
    </main>
    <footer>
        <button class="btn btn-info" @click="closeTrigger()">取消</button>
        <button class="btn btn-info" @click="saveTrigger()">确定</button>
    </footer>
</div>
<div class="modal fade" id="editDataPool" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span>&times;</span>
                </button>
                <h4 class="modal-title">{{dataPoolTitle}}数据池</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group col-sm-12">
                        <label class="col-sm-4 control-label">数据池名称</label>
                        <div class="col-sm-8">
                            <select class="form-control" v-model="poolData.poolName">
                                <option value="场景数据池">场景数据池</option>
                            </select>
                            <!-- <input type="text" class="form-control " name="" v-model="poolData.poolname"> -->
                        </div>

                    </div>
                    <div class="form-group col-sm-12">
                        <label class="col-sm-4 control-label">数据池对象Id</label>
                        <div class="col-sm-8">
                            <select class="form-control" v-model="poolData.poolObjId">
                                <option value="2">2</option>
                            </select>
                            <!-- <input type="text" class="form-control " name="" v-model="poolData.poolobjid"> -->
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <label class="col-sm-4 control-label">数据名称</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control " name="" v-model="poolData.dataName">
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <label class="col-sm-4 control-label">数据值</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control " name="" v-model="poolData.dataValue">
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <label class="col-sm-4 control-label">数据描述</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control " name="" v-model="poolData.dataDesc">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-default" @click="saveDataPool">确定</button>
            </div>
        </div>
    </div>
</div>
<!-- addCaseModal start -->
<div class="modal fade" id="addCaseModal" role="dialog" aria-labelledby="addCaseModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">添加用例</h4>
            </div>
            <div class="modal-body">
                <!-- modal-body start -->
                <form id="addForm" class="form-horizontal" role="form">
                    <div class="form-group">
                        <br>
                        <div class="col-lg-2" ></div>
                        <div class="col-lg-9"><p style="font-size:10px; color:grey">用例展示形式为：用例编号 | 被测系统 | 功能点 | 关联脚本名称</p></div>
                        <br>  <br>  <br>
                        <label class="col-lg-2 control-label">添加用例</label>
                        <div class="col-lg-8">
                            <select class="selectpicker form-control selectStyle" multiple v-model="caseSelectA"
                                    id="caseSelect" name="caseSelect" data-live-search="true"
                                    data-live-search-placeholder="搜索">
                            </select>
                        </div>
                    </div>
                    <!-- modal-body end -->
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">取消</button>
                <button data-dismiss="modal" class="btn btn-success" type="button" @click="insert()">确定
                </button>
            </div>
        </div>
    </div>
</div>
<!-- addCaseModal end -->
<!--header start-->
<link rel="import" href="./common/header-guide.html?__inline">
<!--header end-->
<!--sidebar start-->
<link rel="import" href="./common/aside-guide.html?__inline">
<!--sidebar end-->
<div class="content">
    <!--main content start-->
    <section id="main-content">
        <section class="content-wrapper"
                 :class="{'bigMarginBottom':!tooltipFlag, 'smallMarginBottom':tooltipFlag}">
            <main class="main" style="padding: 15px; user-select: none;">
                <!-- breadcrumb start -->
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="breadcrumb">
                            <li><a href="scene.html"><i class="icon-home"></i>场景管理</a></li>
                            <li><a href={{url}}>{{scenename}}</a></li>
                            <!-- <li class="active"> 对象库</li> -->
                        </ul>
                    </div>
                </div>
                <div class="top-bar" style="padding: 15px 20px 15px 20px;">
                    <a class="btn btn-white" data-toggle="modal" href="#addCaseModal"><i class="icon-plus"></i> 添加用例</a>
                    <a class="btn btn-white" @click="removeCases()"><i class="icon-remove"></i>
                        移除用例</a>
                    <div class="expandHigh" @click="showFunc" id="showFunc" 
                         style="display: block;float: left; margin-top: 8px;">
                        <i class="icon-double-angle-right"></i>
                        <span>展开高级功能</span>
                    </div>
                    <div id="func" style="display:none;float: left;">
                        <a class="btn btn-white" @click="operationType(1);"><i class="icon-calendar"></i>
                            执行时间规划</a>
                        <a class="btn btn-white" @click="operationType(2);"><i class="icon-cog"></i>
                            触发器设置</a>
                        <a class="btn btn-white" @click="operationType(3);"><i class="icon-retweet"></i>
                            执行过程控制</a>
                        <a class="btn btn-white" @click="operationType(4);"><i class="icon-cogs"></i>
                            数据资源池配置</a>
                        <a class="btn btn-white" @click="operationType(5);"><i class="icon-mobile-phone"></i>
                            移动端配置</a>
                        <a class="btn btn-white" @click="debug();"><i class="icon-wrench"></i>
                            调试</a>
                        <a class="btn btn-white" @click="saveSort();"><i class="icon-refresh"></i>
                            保存顺序</a>
                    </div>
                    <div class="expandHigh" @click="showFuncHidden" id="showFuncHidden" 
                         style="display: none;float: left; margin-top: 8px;">
                        <i class="icon-double-angle-left"></i>
                        <span>隐藏高级功能</span>
                    </div>
                    
                    <!--  <button class="btn btn-white"><i class="icon-file"></i>
                    生成报告</button> -->
                </div>
                <div class="form-input" :class="{'form-input-show': isDebugInfoShow}">
                    <div>
                        <label for="" class="">请输入调试轮次：</label>
                        <input type="number" min="1" class="" id="" placeholder="调试轮次" v-model="debugRound">
                    </div>
                    <div>
                        <label for="" class="">请选择执行范围：</label>
                        <select v-model="exeScope" class="exe-scope">
                            <option value="1">全部执行</option>
                            <option value="2">执行选中的用例</option>
                        </select>
                    </div>
                    <div>
                        <button class="btn btn-white" @click="this.isDebugInfoShow=false;">
                            收起
                        </button>
                    </div>
                </div>
                <div class="main-content" @mousedown="setSelect" style="padding: 7px 0px;">
                    <div style="height: 30px;margin-left: 43px;margin-bottom: 7px;">
                        <div v-for="val in turnNumArr" @mousedown.stop="1"
                             style="float: left;height: 30px;margin-left: 12px;
                                    text-align: center;border: 1px solid #ddd5d5;line-height: 30px;
                                    font-size: 20px;"
                             :style="{ width: 155 + 'px'}">
                            T+{{val}}
                        </div>
                    </div>
                    <div class="check-all-case" @mousedown.stop="1" style="margin-left: 15px;">
                        <input type="checkbox" @change="checkallBox($event)" v-model="checkall"> &nbsp;&nbsp;全选
                    </div>
                    <div id="sortable">
                        <template v-for="group in sceneInfo.caseGroup">
                            <div class="case-lib caseStyle" v-for="case_wrapper in group">
                                <template v-if="case_wrapper.caseCompositeType == '1'">
                                    <div class="checkbox-wrapper">
                                        <i class="icon-move handle" style="color: #ff6c60;"></i> &nbsp;&nbsp;
                                        <div style="display: inline-block; width: 20px; height: 20px;"
                                             @mousedown.stop="1">
                                            <input type="checkbox" :value="case_wrapper.id" name="sort" class="checkall"
                                                   v-model="selectedCases">
                                        </div>
                                    </div>
                                    <div v-for="time in case_wrapper">
                                        <div class="case-wrapper" v-for="case in time">
                                            <!--<div class="" style="height: 30px; width: 30px; border-width: 15px; border-style: solid; border-color: transparent transparent  transparent #bebaba;margin: 0 -30px 0 20px; position: relative; top: 0%;"></div>-->
                                            <div class="case" @click="changeCase(case.id, 1)" @mousedown.stop="1"
                                                 :style="{ marginRight: (index !== time.length - 1) ? '0px' :170 + 'px'}">
                                                <div class="case-header">
                                                    <p :title="case.casecode" style="margin-left: 5px;">
                                                        {{case.casecode}}</p>
                                                    <input type="checkbox" v-bind:value="case.id"
                                                           class="check-case single-case" v-model="selectedCases">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </template>
                                <template v-else>
                                    <div class="checkbox-wrapper">
                                        <i class="icon-move handle" style="color: #ff6c60;"></i> &nbsp;&nbsp;
                                        <div style="display: inline-block; width: 20px; height: 20px;"
                                             @mousedown.stop="1"><input type="checkbox" :value="case_wrapper.id"
                                                                        name="sort" class="checkall"
                                                                        v-model="selectedCases"
                                                                        @change="checkallToggle($event)">
                                        </div>
                                    </div>
                                    <div class="case-wrapper">
                                        <template v-for="(key, time) in case_wrapper">
                                            <!--<div class="" style="height: 30px; width: 30px; border-width: 15px; border-style: solid; border-color: transparent transparent  transparent #bebaba;margin: 0 -30px 0 20px; position: relative; top: 0%;"></div>-->
                                            <div class="case caseFlow" v-for="(index, case) in time" @mousedown.stop="1"
                                                 @click="changeCase(case.id, 2)"
                                                 :style="{ marginRight: (index !== time.length - 1) ? '12px' : 170 + 'px'}">
                                                <div class="case-header case-header-Flow" style="display: inline-block">
                                                    <p :title="case.casecode" style="margin-left: 5px;">
                                                        {{case.casecode}}</p>
                                                    <input type="checkbox" v-bind:value="case.id"
                                                           class="check-case" @change="checkChanged($event)"
                                                           v-model="checkedFlowNodes">
                                                </div>
                                                <div class="arrow-right" :style="{display:(index != (time.length - 1)? 'inline-block':'none')}"><i class="icon-long-arrow-right"></i></div>
                                            </div>

                                        </template>
                                    </div>
                                </template>
                            </div>
                            <hr>
                        </template>
                    </div>
                </div>

            </main>
        </section>
        <!-- <div class="panel panel-default" id="tooltipwindow" :class="{'height43px':tooltipFlag, 'height200px': !tooltipFlag}"> -->
        <div class="panel panel-default" id="tooltipwindow" :style="panelHeight">
            <div class="tooltipwindow-top" style="width: 100%;height: 5px; cursor: n-resize; user-select: none;"
                 id="tooltipwindow-top" title="点击鼠标拖动，以调整大小">
                <i class="icon-angle-up"></i><i class="icon-angle-down"></i>
            </div>
            <script>
                var anchor = document.querySelector('#tooltipwindow-top');
                var tooltipwindow = document.querySelector('#tooltipwindow');
                // var Y, originHeight;
                var y, _y;
                anchor.addEventListener('mousedown', function (e) {
                    y = e.pageY;
                    _y = e.pageY;
                    document.addEventListener('mousemove', moveHandle);
                    document.addEventListener('mouseup', function () {
                        document.removeEventListener('mousemove', moveHandle);
                    });
                });
                function moveHandle(e) {
                    // console.log(e.pageY)
                    _y = e.pageY;
                    var offsetY = _y - y;
                    y = _y;
                    var height = Math.min(tooltipwindow.style.height.slice(0, -2) - offsetY, +tooltipwindow.style.height.slice(0, -2));
                    tooltipwindow.style.height = `${tooltipwindow.style.height.slice(0, -2) - offsetY}px`
                    // console.log(tooltipwindow.style.height.slice(0, -2) - offsetY)
                    // console.log(tooltipwindow.clientHeight);
                    // tooltipwindow
                }
            </script>
            <div class="panel-heading">
                <span v-show="tooltipType===1">执行时间规划</span>
                <span v-show="tooltipType===2">触发器设置</span>
                <span v-show="tooltipType===3">执行过程控制</span>
                <span v-show="tooltipType===4">数据资源池配置</span>
                <span v-show="tooltipType===5">配置移动端设备信息</span>
                <button type="button" class="close" id="btn-closetooltip" @click="toggleTooltip">
                    <i :class="{'icon-resize-full':tooltipFlag,'icon-resize-small':!tooltipFlag}"></i>
                </button>
            </div>
            <div class="panel-body" style="height: calc(100% - 40px);">
                <!-- 执行时间规划 -->
                <div v-show="tooltipType===1" class="timeArrange">
                    <div>
                        <label>执行时间</label>
                        <input id="datetimepicker" type="text">
                    </div>
                    <div>
                        <label>执行时间标识</label>
                        <span>T + </span>
                        <input type="text" v-model="executeDateFlag">
                    </div>
                    <div>
                        <button class="btn btn-info exeTimeSave" @click="saveExecuteTime()">
                            保存
                        </button>
                    </div>
                </div>
                <!-- 触发器设置 -->
                <div v-show="tooltipType===2" class="triggerSetting">
                    <div>
                        <button type="button" class="btn btn-white" @click="openTrigger(1);">
                            <i class="icon-plus"></i>
                            新增
                        </button>
                        <button type="button" class="btn btn-white" @click="deleteTrigger();">
                            <i class=" icon-trash"></i>
                            删除
                        </button>
                        <button type="button" class="btn btn-white" @click="openTrigger(2);">
                            <i class="icon-edit"></i>
                            编辑
                        </button>
                    </div>
                    <div class="table-wrapper">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th scope="col">选择</th>
                                <th scope="col">触发器名称</th>
                                <th scope="col">描述</th>
                                <th scope="col">状态</th>
                            </tr>
                            </thead>
                            <tbody id="triggers">
                            <tr v-for="item in triggers">
                                <td><input type="checkbox" :value="item.id" v-model="triggerInfo.selectedTrigger"
                                           @change="changeSelectedTrigger()"></td>
                                <td>{{item.name}}</td>
                                <td>{{item.desc}}</td>
                                <td>
                                    <select>
                                        <option value="1" :selected="item.state === 1">启用</option>
                                        <option value="0" :selected="item.state === 0">禁用</option>
                                    </select>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <button class="btn btn-info triggerSave" @click='saveTriggerState();'>
                            保存
                        </button>
                    </div>
                </div>
                <!-- 执行过程控制 -->
                <div class="processControl" v-show="tooltipType===3">
                    <p>执行策略选择
                        <i class="">:</i>
                    </p>
                    <div class="strategy-wrapper wrapper-div">
                        <div class="strategy-group">
                            <span class="group-name">用例级</span>
                            <div class="select-wrapper">
                                <div class="select-group">
                                    <label>执行状态策略</label>
                                    <select v-model="exeStrategy1Status">
                                        <!-- <option value="0">保持原样不做处理</option> -->
                                        <option value="1">全部重新执行</option>
                                        <option value="2">跳过执行成功的用例</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="strategy-group">
                            <span class="group-name">流程节点级</span>
                            <div class="select-wrapper">
                                <div class="select-group">
                                    <label>起始节点策略</label>
                                    <select v-model="exeStrategy2Start">
                                        <!-- <option value="0">保持原样不做处理</option> -->
                                        <option value="1">从第一个节点开始</option>
                                        <option value="2">从第一个执行失败的节点开始</option>
                                    </select>
                                </div>
                                <div class="select-group">
                                    <label>执行顺序策略</label>
                                    <select v-model="exeStrategy2Order">
                                        <!-- <option value="0">保持原样不做处理</option> -->
                                        <option value="1">顺序无关执行</option>
                                        <option value="2">强制顺序执行</option>
                                    </select>
                                </div>
                                <div class="select-group">
                                    <label>执行状态策略</label>
                                    <select v-model="exeStrategy2Status">
                                        <!-- <option value="0">保持原样不做处理</option> -->
                                        <option value="1">全部重新执行</option>
                                        <option value="2">跳过执行成功的用例</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="strategy-group">
                            <span class="group-name">组合用例级</span>
                            <div class="select-wrapper">
                                <div class="select-group">
                                    <label>起始用例策略</label>
                                    <select v-model="exeStrategy3Start">
                                        <!-- <option value="0">保持原样不做处理</option> -->
                                        <option value="1">从第一个节点开始</option>
                                        <option value="2">从第一个执行失败的节点开始</option>
                                    </select>
                                </div>
                                <div class="select-group">
                                    <label>执行顺序策略</label>
                                    <select v-model="exeStrategy3Order">
                                        <!-- <option value="0">保持原样不做处理</option> -->
                                        <option value="1">顺序无关执行</option>
                                        <option value="2">强制顺序执行</option>
                                    </select>
                                </div>
                                <div class="select-group">
                                    <label>执行状态策略</label>
                                    <select v-model="exeStrategy3Status">
                                        <!-- <option value="0">保持原样不做处理</option> -->
                                        <option value="1">全部重新执行</option>
                                        <option value="2">跳过执行成功的用例</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p>错误处理模式：</p>
                    <div class="option-wrapper wrapper-div">
                        <div class="select-wrapper">
                            <div class="select-group">
                                <label>出错操作</label>
                                <select v-model="exeStrategyErr">
                                    <!-- <option value="0">保持原样不做处理</option> -->
                                    <option value="1">出错后终止</option>
                                    <option value="2">出错后继续执行</option>
                                    <option value="3">出错后由用户选择</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="processControl-footer">
                        <button class="btn btn-info processControlSave" @click="saveStrategy();">保存</button>
                    </div>
                </div>
                <!-- 数据资源池设置 -->
                <div v-show="tooltipType===4" class="dataPool">
                    <div>
                        <button type="button" class="btn btn-white" @click="openPool(1)">
                            <i class="icon-plus"></i>
                            新增
                        </button>
                        <button type="button" class="btn btn-white" @click="removeDatapool();">
                            <i class=" icon-trash"></i>
                            删除
                        </button>
                        <button type="button" class="btn btn-white" @click="openPool(2)">
                            <i class="icon-edit"></i>
                            编辑
                        </button>
                    </div>
                    <div class="table-wrapper">
                        <table border="1">
                            <thead>
                            <tr>
                                <th scope="col">选择</th>
                                <th scope="col">数据名称</th>
                                <th scope="col">数据值</th>
                                <th scope="col">数据描述</th>
                            </tr>
                            </thead>
                            <tbody v-if="poolDatas.length>0">
                            <tr v-for="item in poolDatas">
                                <td>
                                    <input type="checkbox" :value="item.id" v-model="selectedPool">
                                </td>
                                <td>
                                    {{item.dataName}}
                                </td>
                                <td>
                                    {{item.dataValue}}
                                </td>
                                <td>
                                    {{item.dataDesc}}
                                </td>
                            </tr>
                            </tbody>
                            <tbody v-else>
                            <tr>
                                <td colspan="4">暂时没有数据</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- 配置移动端设备信息 -->
                <div v-show="tooltipType===5" class="timeArrange">
                    <div>
                        <label>设备类型</label>
                        <input name="platformName" v-model="platformName">
                    </div>
                    <div>
                        <label>设备名称</label>
                        <input type="text" name="deviceName" v-model="deviceName">
                    </div>
                    <div>
                        <label>自动化类型</label>
                        <input type="text" name="automationName" v-model="automationName">
                    </div>
                    <div>
                        <label>应用包名</label>
                        <input type="text" name="appPackage" v-model="appPackage">
                    </div>
                    <div>
                        <label>启动appActivity</label>
                        <input type="text" name="appActivity" v-model="appActivity">
                    </div>

                    <div class="select-wrapper">
                        <div class="select-group">
                            <label>是否重置</label>
                            <select v-model="noReset">
                                <option value="1">是</option>
                                <option value="0">否</option>
                            </select>
                        </div>
                    </div>
                    <div>
                        <label>接口路径</label>
                        <input type="text" id="appiumurl" v-model="appiumurl">
                    </div>
                    <div>
                        <button class="btn btn-info exeTimeSave" @click="initMobile()">
                            保存
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <link rel="import" href="./common/copy-right.html?__inline">
    </section>
    <!--main content end-->
</div>
<!--content end -->
<link rel="import" href="./common-vac/alert.html?__inline">
<link rel="import" href="./common-vac/confirm.html?__inline">
<script type="text/javascript" src="../static/js/template/progressBar.js"></script>
<script src="../static/js/config.js"></script>
<script src="../static/js/vac-functions.es.js"></script>
<script src="../static/js/scene-setting.es.js"></script>
<script src="../../lib/common-scripts.js"></script>
<script type="text/javascript" src="../lib/jquery.validate.js"></script>

<script type="text/javascript">
    document.querySelector('.sidebar-toggle-box').addEventListener('click', function () {
        if (document.body.offsetWidth <= 768) {
            return;
        }
        document.querySelector('.panel').style.width = document.querySelector('#sidebar').style.marginLeft === "-180px" ? "100%" : "calc(100% - 180px)";
        document.querySelector('.copy-right').style.width = document.querySelector('#sidebar').style.marginLeft === "-180px" ? "100%" : "calc(100% - 180px)";
    }, false);
    window.addEventListener('resize', function () {
        document.querySelector('.panel').style.width =
                (document.body.offsetWidth <= 768 ||
                document.querySelector('#sidebar').style.marginLeft === "-180px") ? "100%" : "calc(100% - 180px)";
        document.querySelector('.copy-right').style.width =
                (document.body.offsetWidth <= 768 ||
                document.querySelector('#sidebar').style.marginLeft === "-180px") ? "100%" : "calc(100% - 180px)";
    }, false);
</script>
</body>
</html>