<!DOCTYPE html>
<html>

<head>
    <link rel="import" href="./common/header.html?__inline">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <link rel="stylesheet" type="text/css" href="../static/css/pagination.css">
    <link rel="stylesheet" type="text/css" href="../static/css/scene.css">
    <title>场景管理</title>
</head>

<body id="scene" v-cloak>
    <div class="content">
        <!--header start-->
        <link rel="import" href="./common/header-guide.html?__inline">
        <!--header end-->
        <!--sidebar start-->
        <link rel="import" href="./common/aside-guide.html?__inline">
        <!--sidebar end-->
        <!--main content start-->
        <section id="main-content">
            <section class="wrapper">
                <!-- breadcrumb start -->
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="breadcrumb">
                            <li><a href="#"><i class="icon-home"></i> 项目测试</a></li>
                            <li class="active"><a href="#"> 测试场景管理</a></li>
                        </ul>
                    </div>
                </div>
                <!-- breadcrumb end -->
                <!--top-button start-->
                <div class="row">
                    <div class="col-lg-12 top-btn">
                        <a class="btn btn-white" data-toggle="modal" href="#insertModal"><i class="icon-plus"></i> 添加</a>
                        <!-- <a class="btn btn-white" @click="checkDel"><i class="icon-trash"></i> 删除</a> -->
                        <a class="btn btn-white" @click="checkUpdate"><i class="icon-edit"></i> 修改</a>
                        <!-- insertModal start -->
                        <div class="modal fade" id="insertModal" tabindex="-1" role="dialog" aria-labelledby="insertModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title">添加场景</h4>
                                    </div>
                                    <div class="modal-body">
                                        <!-- modal-body start -->
                                        <section class="panel">
                                            <form id="insertForm" class="form-horizontal" role="form">
                                                <div class="form-group">
                                                    <label class="col-lg-3 control-label">场景名称</label>
                                                    <div class="col-lg-5">
                                                        <input type="text" name="scenename" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-lg-3 control-label">场景描述</label>
                                                    <div class="col-lg-5">
                                                        <textarea class="form-control" rows="4" name="description"></textarea>
                                                    </div>
                                                </div>
                                            </form>
                                        </section>
                                        <!-- modal-body end -->
                                    </div>
                                    <div class="modal-footer">
                                        <button data-dismiss="modal" class="btn btn-default" type="button">取消</button>
                                        <a data-dismiss="modal" class="btn btn-success" @click="insert">添加</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- insertModal end -->
                        <!-- delModal start -->
                        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="insertModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title">删除场景</h4>
                                    </div>
                                    <div class="modal-body">
                                        <!-- modal-body start -->
                                        <h4>确认删除该场景？</h4>
                                        <!-- modal-body end -->
                                    </div>
                                    <div class="modal-footer">
                                        <button data-dismiss="modal" class="btn btn-default" type="button">取消</button>
                                        <button data-dismiss="modal" class="btn btn-success" type="button" v-on:click="del">删除</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- delModal end -->
                        <!-- updateModal start -->
                        <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title">修改场景</h4>
                                    </div>
                                    <div class="modal-body">
                                        <!-- modal-body start -->
                                        <section class="panel">
                                            <form id="updateForm" class="form-horizontal" role="form">
                                                <div class="form-group hidden">
                                                    <label class="col-lg-3 control-label">id</label>
                                                    <div class="col-lg-5">
                                                        <input type="text" name="id" v-model="selectedId">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-lg-3 control-label">场景名称</label>
                                                    <div class="col-lg-5">
                                                        <input type="text" name="scenename" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-lg-3 control-label">场景描述</label>
                                                    <div class="col-lg-5">
                                                        <textarea class="form-control" rows="4" name="description"></textarea>
                                                    </div>
                                                </div>
                                            </form>
                                        </section>
                                        <!-- modal-body end -->
                                    </div>
                                    <div class="modal-footer">
                                        <button data-dismiss="modal" class="btn btn-default" type="button">取消</button>
                                        <button data-dismiss="modal" class="btn btn-success" type="button" v-on:click="update()">修改</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- updateModal end -->
                        <!-- customFilterModal start -->
                        <div class="modal fade" id="customFilterModal" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title">自定义筛选条件</h4>
                                    </div>
                                    <div class="modal-body">
                                        <!-- modal-body start -->
                                        <section class="panel">
                                            <form id="insertForm" class="form-horizontal" role="form">
                                                <div class="form-group">
                                                    <label class="col-lg-3 control-label">筛选条件名称</label>
                                                    <div class="col-lg-5">
                                                        <input type="text" name="" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-lg-3 control-label">筛选项</label>
                                                    <div class="col-lg-5">
                                                        <select class="form-control">
                                                            <option>用例的各个属性名</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div v-for="item in customFilterList">
                                                    <div class="form-group">
                                                        <label class="col-lg-3 control-label" v-text="item.title"></label>
                                                        <div class="col-lg-2">
                                                            <a class="btn btn-xs btn-danger" @click="removeItem(item)">删除</a>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-lg-3 control-label">名称</label>
                                                        <div class="col-lg-5">
                                                            <input type="text" class="form-control" name="">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-lg-3 control-label">范围</label>
                                                        <div class="col-lg-5">
                                                            <label class="checkbox-inline">
                                                                <input type="checkbox" v-model="" value="1">1级
                                                            </label>
                                                            <label class="checkbox-inline">
                                                                <input type="checkbox" v-model="" value="2">2级
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-lg-12 text-center">
                                                        <a class="btn btn-primary" @click="addItem">添加选择项</a>
                                                    </div>
                                                </div>
                                            </form>
                                        </section>
                                        <!-- modal-body end -->
                                    </div>
                                    <div class="modal-footer">
                                        <button data-dismiss="modal" class="btn btn-default" type="button">取消</button>
                                        <button data-dismiss="modal" class="btn btn-success" type="button" v-on:click="insert()">添加</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- customFilterModal end -->
                        <!-- successModal start -->
                        <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title">操作成功</h4>
                                    </div>
                                    <div class="modal-body">
                                        <h4>操作成功！</h4>
                                    </div>
                                    <div class="modal-footer">
                                        <button data-dismiss="modal" class="btn btn-success" type="button">确定</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- successModal end -->
                        <!-- failModal start -->
                        <div class="modal fade" id="failModal" tabindex="-1" role="dialog" aria-labelledby="failModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title">操作失败</h4>
                                    </div>
                                    <div class="modal-body">
                                        <h4>操作失败！</h4>
                                    </div>
                                    <div class="modal-footer">
                                        <button data-dismiss="modal" class="btn btn-success" type="button">确定</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- failModal end -->
                        <!-- selectAlertModal start -->
                        <div class="modal fade" id="selectAlertModal" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title">操作失败</h4>
                                    </div>
                                    <div class="modal-body">
                                        <h4>请先选中一个场景！</h4>
                                    </div>
                                    <div class="modal-footer">
                                        <button data-dismiss="modal" class="btn btn-success" type="button">确定</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- selectAlertModal end -->
                    </div>
                </div>
                <!--topbutton end-->
                <!-- table start -->
                <div class="row" v-if="!addshow">
                    <div class="col-lg-12">
                        <section class="panel">
                            <header class="panel-heading">
                                测试场景管理
                            </header>
                            <div class="filter">
                                <div class="row">
                                    <form class="form-horizontal col-lg-12">
                                        <div class="form-group">
                                            <label class="col-lg-1 control-label">搜索</label>
                                            <div class="col-lg-2">
                                                <input type="text" class="form-control" placeholder="请输入场景名称" name="" v-model="querySceneName">
                                            </div>
                                            <div class="col-lg-1">
                                                <a class="btn btn-white" onclick="queryScene()">搜索</a>
                                            </div>
                                            <!-- <label class="col-lg-2 col-lg-offset-2 control-label">展示条目</label>
                                            <div class="col-lg-2">
                                                <select size="1" name="sample_1_length" aria-controls="sample_1" class="form-control" v-model="pageSize" id="mySelect">
                                                    <option value="5" selected>5</option>
                                                    <option value="10">10</option>
                                                    <option value="20">20</option>
                                                    <option value="50">50</option>
                                                </select>
                                            </div>
                                            <div class="col-lg-1"><a class="btn btn-white" onclick="getScene(1, {{pageSize}}, 'id', 'asc')">刷新</a></div> -->
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- 表格 -->
                            <table class="table table-striped table-bordered border-top text-center" id="sample_1">
                                <thead>
                                    <tr>
                                        <th>
                                            <!-- <input type="checkbox" v-model="checked" v-on:click="" name="chk_all" id="chk_all" /> -->
                                        </th>
                                        <th class="hidden-phone text-center">场景名称 </th>
                                        <th class="text-center">场景描述</th>
                                        <th class="text-center">创建时间</th>
                                        <th class="text-center">修改时间</th>
                                        <th class="hidden-phone text-center">操作</th>
                                    </tr>
                                </thead>
                                <tbody id="sceneTable">
                                    <tr class="odd gradeX" v-for="scene in sceneList" id="{{scene.id}}">
                                        <td width="5%">
                                            <input type="radio" v-model="" name="chk_list" id="{{scene.id}}" />
                                        </td>
                                        <td class="center hidden-phone" width="20%">{{ scene.nameMedium }}</td>
                                        <td width="25%">{{ scene.descShort }}</td>
                                        <td width="15%">{{ formatDate(scene.createTime) }}</td>
                                        <td width="15%">{{ formatDate(scene.modifiedTime) }}</td>
                                        <td class="hidden-phone" width="15%"><a class="btn btn-primary btn-xs" @click="toSceneManagement($event)">管理</a></td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- 分页 -->
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <div class="pagination-wrap" v-if="totalPage!=0">
                                        <div class="num">
                                                <select size="1" name="sample_1_length" aria-controls="sample_1" class="form-control" v-model="pageSize" id="mySelect">
                                                    <option value="5" selected>5条/页</option>
                                                    <option value="10">10条/页</option>
                                                    <option value="20">20条/页</option>
                                                    <option value="50">50条/页</option>
                                                </select> 
                                        </div>
                                        <ul class="pagination">
                                            <li :class="currentPage==1?'disabled':''"><a href="javascript:;" @click="turnToPage(1)">首页</a></li>
                                            <li :class="currentPage==1?'disabled':''"><a @click="turnToPage(currentPage-1)" href="javascript:;">上一页</a></li>
                                            <li>
                                                <a href="javascript:;" @click="turnToPage(currentPage-3)" v-text="currentPage-3" v-if="currentPage-3>0"></a>
                                            </li>
                                            <li>
                                                <a href="javascript:;" @click="turnToPage(currentPage-2)" v-text="currentPage-2" v-if="currentPage-2>0"></a>
                                            </li>
                                            <li>
                                                <a href="javascript:;" @click="turnToPage(currentPage-1)" v-text="currentPage-1" v-if="currentPage-1>0"></a>
                                            </li>
                                            <li class="active"><a href="javascript:;" @click="turnToPage(currentPage)" v-text="currentPage">3</a></li>
                                            <li>
                                                <a href="javascript:;" @click="turnToPage(currentPage+1)" v-text="currentPage+1" v-if="currentPage+1<=totalPage"></a>
                                            </li>
                                            <li>
                                                <a href="javascript:;" @click="turnToPage(currentPage+2)" v-text="currentPage+2" v-if="currentPage+2<=totalPage"></a>
                                            </li>
                                            <li>
                                                <a href="javascript:;" @click="turnToPage(currentPage+3)" v-text="currentPage+3" v-if="currentPage+3<=totalPage"></a>
                                            </li>
                                            <li :class="currentPage==totalPage?'disabled':''"><a href="javascript:;" @click="turnToPage(currentPage+1)">下一页</a></li>
                                            <li :class="currentPage==totalPage?'disabled':''"><a href="javascript:;" @click="turnToPage(totalPage)">尾页</a></li>
                                        </ul>
                                        <div class="go">
                                            <div :class="isPageNumberError?'input-group error':'input-group'">
                                                <input class="form-control" type="number" v-model="goToPage" min="1"><a href="javascript:;" class="input-group-addon" @click="turnToPage(goToPage)">Go</a>
                                            </div>
                                        </div>
                                        <small class="small nowrap"> 当前第 <span class="text-primary" v-text="currentPage"></span> / <span class="text-primary" v-text="totalPage"></span>页，共有 <span class="text-primary" v-text="tt"></span> 条</small>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <!-- table end -->
                <!-- addScene start -->
                <div class="row" v-else>
                    <div class="col-lg-12">
                        <section class="panel">
                            <div class="">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <a class="btn btn-white" @click="addshow=false">
                                            <<返回</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <form class="form-horizontal col-lg-12">
                                        <div class="form-group">
                                            <label class="col-lg-1 control-label">场景名称</label>
                                            <div class="col-lg-2">
                                                <input type="text" class="form-control" name="">
                                            </div>
                                            <label class="col-lg-1 control-label">场景描述</label>
                                            <div class="col-lg-3">
                                                <input type="text" class="form-control" name="">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="row">
                                    <div class="col-lg-2">
                                        <div class="filter-show">
                                            <h4 class="panel-title">
                                                  <a class="btn btn-white" v-on:click="isShow=!isShow, iconflag=!iconflag">
                                                      <span v-if="iconflag">用例筛选</span>
                                                      <span v-else>收起筛选</span>
                                                      <i :class="{'icon-angle-down':iconflag, 'icon-angle-up':!iconflag}"></i>
                                                  </a>
                                            </h4>
                                        </div>
                                    </div>
                                    <form class="form-horizontal col-lg-10">
                                        <div class="form-group">
                                            <label class="col-lg-2 col-lg-offset-7 control-label">展示条目</label>
                                            <div class="col-lg-2">
                                                <select size="1" name="sample_1_length" aria-controls="sample_1" class="form-control" v-model="pageSize" id="mySelect">
                                                    <option value="1" selected>1</option>
                                                    <option value="3">3</option>
                                                    <option value="5">5</option>
                                                </select>
                                            </div>
                                            <!-- <div class="col-lg-1"><a class="btn btn-white" onclick="getCase(1, 10, 'id', 'asc')">刷新</a></div> -->
                                        </div>
                                    </form>
                                </div>
                                <div class="row" v-show='isShow'>
                                    <div class="col-lg-12">
                                        <div id="collapse1" class="panel-collapse collpase">
                                            <div class="panel-body">
                                                <table class="table table-bordered">
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                优先级：
                                                                <label class="checkbox-inline">
                                                                    <input type="checkbox" v-model="priority" value="1">1级</label>
                                                                <label class="checkbox-inline">
                                                                    <input type="checkbox" v-model="priority" value="2">2级</label>
                                                                <label class="checkbox-inline">
                                                                    <input type="checkbox" v-model="priority" value="3">3级</label>
                                                                <label class="checkbox-inline" for="checkbox-04">
                                                                    <input type="checkbox" v-model="priority" value="4">4级</label>
                                                                <label class="checkbox-inline" for="checkbox-05">
                                                                    <input type="checkbox" v-model="priority" value="5">5级</label>
                                                                <label class="checkbox-inline" for="checkbox-06">
                                                                    <input type="checkbox" v-model="priority" value="6">6级</label>
                                                                <label class="checkbox-inline" for="checkbox-07">
                                                                    <input type="checkbox" v-model="priority" value="7">7级</label>
                                                                <label class="checkbox-inline" for="checkbox-08">
                                                                    <input type="checkbox" v-model="priority" value="8">8级</label>
                                                                <label class="checkbox-inline" for="checkbox-09">
                                                                    <input type="checkbox" v-model="priority" value="9">9级</label>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                执行方式：
                                                                <label class="checkbox-inline" for="checkbox-10">
                                                                    <input type="checkbox" v-model="executeMethod" value="1">手工</label>
                                                                <label class="checkbox-inline" for="checkbox-11">
                                                                    <input type="checkbox" v-model="executeMethod" value="2">自动化</label>
                                                                <label class="checkbox-inline" for="checkbox-12">
                                                                    <input type="checkbox" v-model="executeMethod" value="3">配合</label>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                案例类型：
                                                                <label class="checkbox-inline" for="checkbox-13">
                                                                    <input type="checkbox" v-model="caseCompositeType" value="1">单案例</label>
                                                                <label class="checkbox-inline" for="checkbox-14">
                                                                    <input type="checkbox" v-model="caseCompositeType" value="2">流程案例</label>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="filter-checkbox">
                                                                案例状态：
                                                                <label class="checkbox-inline" for="checkbox-16">
                                                                    <input type="checkbox" v-model="useStatus" value="1">新增</label>
                                                                <label class="checkbox-inline" for="checkbox-17">
                                                                    <input type="checkbox" v-model="useStatus" value="2">评审通过</label>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="filter-checkbox">
                                                                其他：
                                                                <label class="checkbox-inline" for="checkbox-18">
                                                                    <input type="checkbox">我编写的</label>
                                                                <label class="checkbox-inline" for="checkbox-19">
                                                                    <input type="checkbox">我执行的</label>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <a data-toggle="modal" href="#customFilterModal">自定义筛选条件</a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td><a class="btn btn-primary" onclick="queryCase()">筛选</a></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- 表格 -->
                                <table class="table table-striped table-bordered border-top text-center" id="sample_1">
                                    <thead>
                                        <tr>
                                            <th style="width:8px;">
                                                <input type="checkbox" v-model="checked" v-on:click="" name="chk_all" id="chk_all" />
                                            </th>
                                            <th></th>
                                            <th class="hidden-phone text-center" data-order="casecode" data-sort="desc" onclick="resort(this)">案例编号 <span class="icon-sort-up" aria-hidden="true"></span></th>
                                            <th class="text-center" data-order="autId" data-sort="desc" onclick="resort(this)">被测系统 <span class="icon-sort-up" aria-hidden="true"></span></th>
                                            <th class="hidden-phone text-center" data-order="transId" data-sort="desc" onclick="resort(this)">功能点 <span class="icon-sort-up" aria-hidden="true"></span></th>
                                            <th class="hidden-phone text-center" data-order="caseCompositeType" data-sort="desc" onclick="resort(this)">案例组成类型 <span class="icon-sort-up" aria-hidden="true"></span></th>
                                            <th class="hidden-phone text-center" data-order="useStatus" data-sort="desc" onclick="resort(this)">状态 <span class="icon-sort-up" aria-hidden="true"></span></th>
                                            <th class="hidden-phone text-center" data-order="author" data-sort="desc" onclick="resort(this)">脚本编辑者 <span class="icon-sort-up" aria-hidden="true"></span></th>
                                            <th class="hidden-phone text-center" data-order="executor" data-sort="desc" onclick="resort(this)">执行者 <span class="icon-sort-up" aria-hidden="true"></span></th>
                                            <th class="hidden-phone text-center" data-order="executeMethod" data-sort="desc" onclick="resort(this)">执行方式 <span class="icon-sort-up" aria-hidden="true"></span></th>
                                        </tr>
                                    </thead>
                                    <tbody id="caseTable">
                                        <tr class="odd gradeX" v-for="case in caseList" id="{{case.id}}">
                                            <td>
                                                <input type="checkbox" v-model="" name="chk_list" id="{{case.id}}" />
                                            </td>
                                            <td><span class="icon-angle-right" v-show="case.caseCompositeType==='2-流程案例'" @click="getSubCase($event)"></span></td>
                                            <td class="center hidden-phone">{{ case.casecode }}</td>
                                            <td>{{ case.autId }}</td>
                                            <td class="hidden-phone">{{ case.transId }}</td>
                                            <td class="hidden-phone">{{ case.caseCompositeType }}</td>
                                            <td class="center hidden-phone">{{ case.useStatus }}</td>
                                            <td class="center hidden-phone">{{ case.author }}</td>
                                            <td class="center hidden-phone">{{ case.executor }}</td>
                                            <td class="center hidden-phone">{{ case.executeMethod }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- 分页 -->
                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <div class="pagination-wrap" v-if="totalPage!=0">
                                            <ul class="pagination">
                                                <li :class="currentPage==1?'disabled':''"><a href="javascript:;" @click="turnToPage(1)">首页</a></li>
                                                <li :class="currentPage==1?'disabled':''"><a @click="turnToPage(currentPage-1)" href="javascript:;">上一页</a></li>
                                                <li>
                                                    <a href="javascript:;" @click="turnToPage(currentPage-3)" v-text="currentPage-3" v-if="currentPage-3>0"></a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" @click="turnToPage(currentPage-2)" v-text="currentPage-2" v-if="currentPage-2>0"></a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" @click="turnToPage(currentPage-1)" v-text="currentPage-1" v-if="currentPage-1>0"></a>
                                                </li>
                                                <li class="active"><a href="javascript:;" @click="turnToPage(currentPage)" v-text="currentPage">3</a></li>
                                                <li>
                                                    <a href="javascript:;" @click="turnToPage(currentPage+1)" v-text="currentPage+1" v-if="currentPage+1<totalPage"></a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" @click="turnToPage(currentPage+2)" v-text="currentPage+2" v-if="currentPage+2<totalPage"></a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" @click="turnToPage(currentPage+3)" v-text="currentPage+3" v-if="currentPage+3<totalPage"></a>
                                                </li>
                                                <li :class="currentPage==totalPage?'disabled':''"><a href="javascript:;" @click="turnToPage(currentPage+1)">下一页</a></li>
                                                <li :class="currentPage==totalPage?'disabled':''"><a href="javascript:;" @click="turnToPage(totalPage)">尾页</a></li>
                                            </ul>
                                            <div class="go">
                                                <div :class="isPageNumberError?'input-group error':'input-group'">
                                                    <input class="form-control" type="number" v-model="goToPage" min="1"><a href="javascript:;" class="input-group-addon" @click="turnToPage(goToPage)">Go</a>
                                                </div>
                                            </div>
                                            <small class="small nowrap"> 当前第 <span class="text-primary" v-text="currentPage"></span> / <span class="text-primary" v-text="totalPage"></span>页，共有 <span class="text-primary" v-text="tt"></span> 条</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <!-- addScene end -->
            </section>
            <link rel="import" href="./common/copy-right.html?__inline">
        </section>
    </div>
</body>

</html>
<link rel="import" href="./common/footer.html?__inline">
<script src="../lib/vue-resource.min.js"></script>
<script type="text/javascript" src="../static/js/scene.js"></script>