<!DOCTYPE>

<head>
  <link rel="import" href="./common/header.html?__inline">
  <link rel="stylesheet" type="text/css" href="../static/css/base/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../static/css/metroStyle.css">
  <link rel="stylesheet" type="text/css" href="../static/css/script.scss">
  <!-- <script type="text/javascript" src="../lib/jquery.js"></script> -->
  <script src="../lib/jquery.js"></script>
  <script type="text/javascript" src="../lib/jquery-ui.js"></script>
  <script type="text/javascript" src="../lib/vue.js"></script>
  <title>基础脚本</title>
</head>

<body id="v-demo" style="width: 100%;">
  <div class="content" style="overflow: auto;">
    <!--header start-->
    <link rel="import" href="./common/header-guide.html?__inline">
    <!--header end-->
    <!--sidebar start-->
    <link rel="import" href="./common/aside-guide.html?__inline">
    <!--sidebar end-->
    <!--main content start-->
    <section id="main-content">
      <section class="wrapper" style="display: flex; flex-direction: column;padding-top: 75px;margin-top: 0;">
        <div id="main">
          <!--top-navi start-->
          <!-- breadcrumb start -->
          <div class="row">
            <div class="col-xs-12">
              <ul class="breadcrumb" style="margin-bottom: 20px;">
                <li>
                  <a href="aut.html">
                    <i class="icon-home"></i> 测试系统管理</a>
                </li>
                <li class="active">
                  <a href="transact.html"> 功能点</a>
                </li>
                <li class="active"> 基础脚本</li>
              </ul>
            </div>
          </div>
          <!--top-navi end-->
          <!--top-button start-->
          <div class="row">
            <form class="form-inline top-form">
              <!-- <div class="form-group">
                <label  class="">所属被测系统</label>
                <select type="text" class="form-control" id="autSelect" name="autid" v-model="autId" @change="transactSelect()">
                </select>
              </div>

              <div class="form-group">
                <label  class="control-label"> 所属功能点</label>
                <select type="text" class="form-control" id="transactSelect" name="" v-model="transId" @change="getScriptTemplate()">
                </select>
              </div> -->

              <a class="btn btn-white" id="template_add" data-toggle="modal" href="#addtemplateModal"><i class="icon-plus"></i> 新增模板</a>
              <a class="btn btn-white" id="template_remove" @click="deleteTemplate();"><i class="icon-ban-circle"></i> 删除模板</a>
              <a class="btn btn-white"  @click="toElementLib"><i class="icon-external-link"></i> 元素库</a>
              <a class="btn btn-white" @click="toObjectRepo"><i class="icon-external-link"></i> 对象库</a>
            </form>
          </div>
          <!--top-button end-->
          <!--top-table start-->
          <div class="row">
            <div class="col-xs-12">
              <section class="panel">
                  <header class="panel-heading">
                      脚本模板
                  </header>
                  <div>
                    <div class="row">
                      <form action="" class="form-horizontal col-sm-12">
                          <div class="form-group">
                            <label class="col-sm-2 control-label">所属被测系统</label>
                            <div class="col-sm-3">
                              <select
                                type="text"
                                class="form-control"
                                id="autSelect"
                                name="autid"
                                v-model="autId"
                                @change="transactSelect()"
                              >
                                </select>
                            </div>
                            <label class="col-sm-2 control-label">所属功能点</label>
                            <div class="col-sm-3">
                              <select
                                type="text"
                                class="form-control"
                                id="transactSelect"
                                name=""
                                v-model="transId"
                                @change="getScriptTemplate()"
                              >
                                </select>
                            </div>
                            <div class="col-sm-1">
                              <a
                                class="btn btn-white"
                                onclick="queryTransact()"
                              >
                            刷新</a>
                            </div>
                          </div>
                      </form>
                    </div>
                  </div>

                <table v-if="templateList.length" id="top_table" style="margin-left: 0; width: 100%;" class="table table-bordered text-center table-striped">
                  <thead>
                    <tr>
                      <th class="index" style="text-align: center;">选择</th>
                      <th class="number" style="text-align: center;">脚本</th>
                      <th style="text-align: center;">描述</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(index,template) in templateList">
                      <td class="index">
                        <input type="checkbox" name="chk_list" :value="index" @click="change($event)" v-model="checkedTemplate" id="{{template.id}}">
                      </td>
                      <td class="number">{{template.name}}</td>
                      <td>{{template.description}}</td>
                    </tr>
                  </tbody>
                </table>
                <div v-else style="text-align: center;margin: 20px auto;">暂无数据</div>
              </section>
              
            </div>

          </div>

          <!--top-table end-->
          <!--模态框 start-->
          <!-- 新增模板 start-->
          <div class="modal fade" id="addtemplateModal" tabindex="-1" role="dialog" aria-labelledby="importModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title">新增模板</h4>
                </div>
                <div class="modal-body">
                  <div>
                    <form id="templateAdd">
                      <div>
                        <label for="scriptName">脚本名称</label>
                        <input id="scriptName" type="text" name="name" required="required" v-model="newTemplate.name">
                      </div>
                      <div>
                        <label for="scriptDescription">脚本描述</label>
                        <input id="scriptDescription" type="text" name="description" required="required" v-model="newTemplate.description">
                      </div>
                    </form>
                  </div>
                </div>
                <div class="modal-footer">
                  <button data-dismiss="modal" class="btn btn-default" type="button">取消</button>
                  <button data-dismiss="modal" class="btn btn-success" type="submit" @click=" saveTemplate();">保存</button>
                </div>
              </div>
            </div>
          </div>
          <!-- 新增模板 end -->
          <!-- 添加操作项 start-->
          <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title">添加操作项</h4>
                </div>
                <div class="modal-body" style="height: 280px;">
                  <div id="classPart1">
                    <div id="elementWord">
                      <label>元素库</label>
                      <ul class="ztree" id="element"></ul>
                    </div>
                  </div>
                  <div id="classPart2">
                    <div id="p_functionWord">
                      <label>公共函数</label>
                      <ul id="p_function" class="ztree"></ul>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button data-dismiss="modal" class="btn btn-default" type="button">取消</button>
                  <button class="btn btn-success" id="confirm" data-dismiss="modal" type="button" type="submit">确认</button>
                </div>
              </div>
            </div>
          </div>
          <!-- 添加操作项 end -->
          <!-- 添加多项操作项 start-->
          <div class="modal fade" id="addMultiModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title">添加多项操作项</h4>
                </div>
                <div class="modal-body" style="height: 280px;">
                  <div style="height:250px;">
                    <div id="multiclassPart1">
                      <label>元素库</label>
                      <ul class="ztree" id="elementMulti"></ul>
                    </div>
                    <div id="multiclassPart2">
                      <label>公共函数</label>
                      <ul id="p_functionMulti" class="ztree"></ul>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button data-dismiss="modal" class="btn btn-default" type="button">取消</button>
                  <button class="btn btn-success" id="confirmMulti" data-dismiss="modal" type="button" type="submit">确认</button>
                </div>
              </div>
            </div>
          </div>
          <!-- 添加多项操作项 end -->
          <!-- 显示参数 start-->
          <div class="modal fade" id="parameterList" tabindex="-1" role="dialog" aria-labelledby="importModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title">参数列表</h4>
                </div>
                <div class="modal-body">
                  <div id="ParaMeterL">
                  </div>
                </div>
                <div class="modal-footer">
                  <button data-dismiss="modal" class="btn btn-default" type="button">取消</button>
                  <button data-dismiss="modal" id="paraConfirm" class="btn btn-success" type="button">确认</button>
                </div>
              </div>
            </div>
          </div>
          <!--显示参数 end -->
          <!-- 操作成功提示模态框 start-->
          <div class="modal fade" id="success" tabindex="-1" role="dialog" aria-labelledby="importModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title">操作成功</h4>
                </div>
                <div class="modal-body">
                  <div>
                    操作成功
                  </div>
                </div>
                <div class="modal-footer">
                  <button data-dismiss="modal" class="btn btn-default" type="button">取消</button>
                  <button data-dismiss="modal" class="btn btn-success" type="button">确认</button>
                </div>
              </div>
            </div>
          </div>
          <!--操作成功提示模态框 end -->
          <!-- 操作失败提示模态框 start-->
          <div class="modal fade" id="fail" tabindex="-1" role="dialog" aria-labelledby="importModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title">操作失败</h4>
                </div>
                <div class="modal-body">
                  <div>
                    操作失败
                  </div>
                </div>
                <div class="modal-footer">
                  <button data-dismiss="modal" class="btn btn-default" type="button">取消</button>
                  <button data-dismiss="modal" class="btn btn-success" type="button">确认</button>
                </div>
              </div>
            </div>
          </div>
          <!--操作失败提示模态框 end -->
          <!--模态框 end-->
        </div>
        <!-- table start -->
        <div class="row">
          <div class="col-sm-12">
            <div class="panel">
                <header class="panel-heading">
                    脚本数据
                </header>
                <div id="table2" class="table-wrapper operation-wrapper" style="margin-top: 0px;">
                    <div v-show="selectedScript>0">
                      <div class="row" style="margin-bottom: 15px;padding: 0 15px;">
                        <div class="col-xs-12 top-btn">
                          <a class="btn btn-white" data-toggle="modal" @click="showUIModal();">
                            <i class="icon-plus"></i> 添加多项</a>
                          <a class="btn btn-white" id="script_remove" @click="removeRow($event)">
                            <i class=" icon-trash"></i> 删除</a>
                          <a class="btn btn-white" id="up" @click="moveUp($event)">
                            <i class=" icon-double-angle-up"></i> 上移</a>
                          <a class="btn btn-white" id="down" @click="moveDown($event)">
                            <i class=" icon-double-angle-down"></i> 下移</a>
                          <a class="btn btn-white" @click="tableSave()">
                            <i class="icon-save"></i> 保存</a>
                          <a class="btn btn-white" @click="para()">
                            <i class="icon-retweet"></i> 参数化</a>
                        </div>
                      </div>
                      <table v-if="operationRows.length" class="newtable table table-bordered table-condensed table-striped" id="newtable" style="width: 100%;">
                        <thead>
                          <tr>
                            <th class="move">排序</th>
                            <th class="check">选择
                            </th>
                            <th class="index">行号</th>
                            <th class="operations">操作项</th>
                            <th class="functions">方法</th>
                            <th class="parameters">参数</th>
                            <th class="add-row" style="width: 50px;text-align: center;">
                              <i class="icon-plus" @click="addRow()" style="font-size: 18px;display: inline-block;height: 22px;width: 22px;"></i>
                            </th>
                          </tr>
                        </thead>
                        <tbody class="ui-sortable" id="sortable">
                          <tr v-for="(index, row) in operationRows" class="before-operation-row ui-sortable-handle" track-by="id" data-index={{index}}>
                            <td class="move">
                              <span class="icon-move"></span>
                            </td>
                            <td class="check" @mousedown.stop="1">
                              <input type="checkbox" class="checkone">
                            </td>
                            <td class="index">{{index + 1}}</td>
                            <td class="operations" @mousedown.stop="1">
                              <!-- <i class="icon-edit" @click="showUiAndElement($event)" style="color: #ff6c60;"></i>
                              <label>UI:</label>
                              <span class="operation-ui">{{row.operation.ui}}</span>
                              <label>元素:</label>
                              <span class="operation-element" :data-classtype="row.operation.classType">{{row.operation.element}}</span> -->
          
                              <template v-if="row.operation.ui != '' && row.operation.element != ''">
                                <i class="icon-edit" @click="showUiAndElement($event, 1)" style="color: #ff6c60;"></i>
                                <label>UI:</label>
                                <span class="operation-ui">{{row.operation.ui}}</span>
                                <label>元素:</label>
                                <span class="operation-element" :data-classtype="row.operation.classType">{{row.operation.element}}</span>
                              </template>
                              <template v-else>
                                <i class="icon-edit" @click="showUiAndElement($event, 1)" style="color: #ff6c60;"></i>
                                <label>公共函数:</label>
                                <span class="operation-ui" style="display: none;">{{row.operation.ui}}</span>
                                <span class="operation-element" style="display: none;" :data-classtype="row.operation.classType">{{row.operation.element}}</span>
                              </template>
                            </td>
                            <td class="functions" @mousedown.stop="1" data-index={{index}}>
                              <select class="functions-select form-control" style="width: 90%;" @change="changeFunction($event.target, index)">
                                <template v-for="function in row.functions">
                                  <option v-if="row.selectedFunc == function.name" :value="function.name" :data-parameters="function.parameterlist" selected>{{function.name}}</option>
                                  <option v-else :value="function.name" :data-parameters="function.parameterlist">{{function.name}}</option>
                                </template>
                              </select>
                            </td>
                            <td class="parameters" @mousedown.stop="1">
                              <span class="icon-edit edit-param" style="color: #ff6c60" @click="editParameter($event)"></span>
                              <div>
                                <div class="param-show">
                                  <span v-for="parameter in row.parameters" class="param-name-show">{{parameter.Name}}:
                                    <b class="param-value-show">{{parameter.Value}}</b>;&nbsp;&nbsp;</span>
                                </div>
                                <table class="param-table table table-condensed table-bordered" style="display: none;">
                                  <thead>
                                    <tr>
                                      <td>名称</td>
                                      <td>参数值</td>
                                    </tr>
                                  </thead>
                                  <tbody class="">
                                    <tr v-for="parameter in row.parameters" class="param-row">
                                      <td class="param-name">{{parameter.Name}}</td>
                                      <td class="param-value" contenteditable="true">{{parameter.Value}}</td>
                                    </tr>
                                    <tr class="bottom-row">
                                      <td colspan="2">
                                        <button @click="cancelEditParam($event)">取消</button>
                                        <button style="margin-left: 10px;" @click="saveParam($event)">保存</button>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </td>
                            <td class="delete-row" style="width: 60px;" @mousedown.stop="1">
                              <i class="icon-plus" @click="insertRow(index)"></i>
                              <i class="icon-minus" @click="deleteRow(index)"></i>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <div v-else style="text-align: center;margin: 20px auto;">暂无数据</div>
                    </div>
                    <div v-show="selectedScript<=0" style="text-align: center;margin: 20px auto;">请选择脚本！</div>
                  </div>
            </div>
          </div>
        </div>
       <div style="flex: 1 1 auto;"></div>
        <!-- table end -->
        <link rel="import" href="./common/copy-right.html?__inline">
      </section>
    </section>
    <!--main content end-->
    <div class="modal fade" tabindex="-1" role="dialog" id="ui-ele-modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">选择操作项与方法</h4>
          </div>
          <div class="modal-body">
            <div class="ui-element">
              <h5>UI与元素</h5>
              <ul id="ui-element-ul" class="ztree"></ul>
            </div>
            <div class="function-div">
              <h5>公共函数集</h5>
              <ul id="functions-ul" class="ztree"></ul>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-default" data-dismiss="modal">取消</button>
            <button class="btn btn-primary" @click="editRow()">确定</button>
          </div>
        </div>
      </div>
    </div>
    <!-- modal end -->
    <!-- 多项选择的UI与element -->
    <div class="modal fade" tabindex="-1" role="dialog" id="ui-ele-modal2">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">选择操作项与方法</h4>
          </div>
          <div class="modal-body">
            <div class="ui-element">
              <h5>UI与元素</h5>
              <ul id="ui-element-ul2" class="ztree"></ul>
            </div>
            <div class="function-div">
              <h5>公共函数集</h5>
              <ul id="functions-ul2" class="ztree"></ul>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-default" data-dismiss="modal">取消</button>
            <button class="btn btn-primary" data-dismiss="modal" @click="editRowMultiple()">确定</button>
          </div>
        </div>
      </div>
    </div>
    <!-- modal end -->
  </div>
  <!--<script type="text/javascript" src="../lib/DT_bootstrap.js"></script>-->
  <!--<script type="text/javascript" src="../static/js/index.js"></script>-->
  <link rel="import" href="./common-vac/alert.html?__inline">
  <link rel="import" href="./common-vac/confirm.html?__inline">
  <script src="../static/js/vac-functions.es.js"></script>
  <script src="../static/js/config.js"></script>
  <script type="text/javascript" src="../lib/jquery.ztree.all.min.js"></script>
  <script type="text/javascript" src="../lib/bootstrap.min.js"></script>
  <!-- <script type="text/javascript" src="../lib/jquery-ui.js"></script> -->
  <script src="../../lib/common-scripts.js"></script>
  <!-- <script type="text/javascript" src="../static/js/script.js"></script> -->
  <script type="text/javascript" src="../static/js/script.es.js"></script>
</body>

</html>