<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="import" href="./common/header.html?__inline">
    <link rel="import" href="./noLoginAlert.html?__inline">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <link rel="stylesheet" type="text/css" href="../static/css/pagination.css">
    <link rel="stylesheet" type="text/css" href="../static/css/metroStyle.css">
    <link rel="stylesheet" type="text/css" href="../static/css/base.scss">
    <link rel="stylesheet" type="text/css" href="../static/css/scene-setting.scss">
    <script src="../lib/jquery.js"></script>
    <script src="../lib/jquery-ui.js"></script>
    <script src="../lib/bootstrap3.37.min.js"></script>
    <script type="text/javascript" src="../lib/vue.js"></script>
    <title>Testphase Manager</title>
    <style>
      .modal-width{
        width: 1000px;
      } 
    </style>
  </head>
  <body  id ="v-body">
    <!--header start-->
    <link rel="import" href="./common/header-guide.html?__inline">
    <!--header end-->
    <!--sidebar start-->
    <link rel="import" href="./common/aside-guide.html?__inline">
    <!--sidebar end-->
    <div v-cloak>
    <div class="content">
      <!--main content start-->
      <section id="main-content" >
        <section class="content-wrapper" style="margin-bottom: 50px;">
          <main class="main" style="padding: 15px; user-select: none;">
            <!-- breadcrumb start -->
            <div class="row" style="margin-bottom: 15px;">
              <div class="col-lg-12">
                <ul class="breadcrumb">
                  <li><a><i class="icon-home"></i> 项目测试 </a></li>
                  <li><a href="#"> 测试计划及执行</a></li>
                  <!-- <li class="active"> 对象库</li> -->
                </ul>
              </div>
            </div>
            <div class="main-content" id="testround-main" style="padding: 15px 0;">
              <form id="test-options" class=" form-horizontal form-inline">
                <div class="form-group col-sm-6">
                  <label class="option-name control-label col-sm-3">测试计划</label>
                  <div class="col-sm-5">
                    <select class="testphase form-control" v-model="testPlanId">
                      <option v-for="(index,item) in testPlans" v-bind:value="item.id">{{item.nameMedium}}</option>
                    </select>
                  </div>
                  <div class="col-sm-4">
                      <a class="btn btn-white" @click="testPlanManager()"> 测试计划管理</a>
                    </div>
                </div>
                <div class="form-group col-sm-6">
                  <label class="option-name col-sm-3 control-label">
                    执行轮次
                  </label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" name="" v-model="executionround">
                  </select>
                </div>
                
              </div>
              <div class="form-group col-sm-6">
                <label class="option-name col-sm-3 control-label">
                  执行范围
                </label>
                <div class="col-sm-9">
                  <select class="execute-range form-control" v-model="exeScope">
                    <option value="1" selected>所有</option>
                    <!-- <option value="2">已选择</option> -->
                  </select>
                </div>
              </div>
              <div class="form-group col-sm-6">
                <label class="option-name col-sm-3 control-label">
                  执行机选择
                </label>
                <div class="col-sm-9">
                  <select class="execute-range form-control" v-model="runner">
                    <option  v-for="runner in runners" :value="runner.identifiableName" >{{runner.runnerName}}</option>
                    <!-- <option value="2">已选择</option> -->
                  </select>
                </div>
              </div>
              <!-- <div class="form-group col-sm-6">
                <label class="option-name col-sm-3 control-label">
                  caseLibId
                </label>
                <div class="col-sm-9">
                  <select class="execute-range form-control" v-model="caselibId">
                    <option v-for="caselibId in caselibIds" :value="caselibId.caselibId">{{caselibId.caselibId}}</option>
                  </select>
                </div>
              </div> -->
            </form>
            <div class="test-control container" style="margin: 15px 5px;">
            <div style="font-size: 12px;color:#999;"></div>
              <button class="btn btn-white" @click="executeAll()"> <i class="icon-legal"></i>  批量执行</button>
              <button class="btn btn-white" @click="getCases()"> <i class=" icon-eye-open"></i> 查询</button>
              <button class="btn btn-white" @click="addScene();"> <i class="icon-plus"></i> 添加场景</button>
              <button class="btn btn-white" @click="removeSceneAndCase();"> <i class="icon-remove"></i> 移除场景与用例</button>
              <button class="btn btn-white" @click="reQuery();"><i class="icon-refresh"></i> 重新查询执行结果</button>
            </div>
            <div id="">
              <div class="main-content2">
                <div class="case-list-wrapper list-wrapper" v-if="testCaseList.length" style="padding:10px 20px 10px 20px">
                  <!-- <span class="case-list-title list-title">用例列表</span> -->
                  <header class="panel-heading" style="margin: 0 -15px;">用例列表</header>
                  <button class="hide-case-list btn btn-xs btn-info" @click="hideCaseList($event)" style="padding: 3px 6px; margin:5px 10px;" @mousedown.stop="1"><span>收起</span>&nbsp;&nbsp;<i class="icon-caret-down"></i></button>
                  <div class="case-list">
                    <div class="check-all-case" v-if="testCaseList.length" style="margin: 10px 10px;">全选
                      <input type="checkbox"  @change="checkallBox($event)" v-model="checkall">
                    </div>
                    <div id="sortable_caselist">
                      <div class="case-lib" v-for="case_wrapper in testCaseList">
                        <template v-if="case_wrapper.caseCompositeType == '1'">
                        <div class="checkbox-wrapper">
                          <i class="icon-move handle" style="color: #ff6c60;"></i>&nbsp;&nbsp;
                          <div style="display: inline-block; width: 20px; height: 20px;" @mousedown.stop="1">
                            <input type="checkbox" :value="case_wrapper.caseId" @mousedown.stop="1" @change="checkallToggle($event)" class="checkall" v-model="selectedCases">
                          </div>
                        </div>
                        </div>
                        <div class="case-wrapper">
                          <div class="case" @click="changeCase(case_wrapper.caseId, 1)"  @mousedown.stop="1">
                            <div class="case-header">
                              <img :src="exeImgs[0]" :id="'img' + '-' + case_wrapper.caseId">
                              <p :title="case_wrapper.casecode">{{case_wrapper.caseCode}}</p>
                              <input type="checkbox" v-bind:value="case_wrapper.caseId" class="check-case single-case-incaselib" v-model="selectedCases" @change="checkChanged($event)">
                            </div>
                            <div class="case-main">
                              <a class="view-case" @click.stop="viewCase(case_wrapper.caseId, 'PE4')">查看</a>
                            </div>
                            <footer class="case-footer">
                            </footer>
                          </div>
                        </div>
                        </template>
                        <!-- 流程用例 -->
                        <template v-else>
                        <div class="checkbox-wrapper">
                          <i class="icon-move handle" style="color: #ff6c60;"></i>&nbsp;&nbsp;
                          <div style="display: inline-block; width: 20px; height: 20px;" @mousedown.stop="1">
                          <input type="checkbox" :value="case_wrapper.caseId" class="checkall" v-model="selectedCases"
                          @change="checkallToggle($event)" @mousedown.stop="1"></div>
                        </div>
                        <div class="case-wrapper">
                          <div class="case" v-for="item in case_wrapper.flowNodes" @mousedown.stop="1" @click="changeCase(item.flowNodeId, 2)">
                            <div class="case-header">
                              <img :src="exeImgs[0]" :id="'img' + '-' + item.flowNodeId">
                              <p :title="item.casecode">{{item.casecode}}</p>
                              <input type="checkbox" v-bind:value="item.flowNodeId"
                              class="check-case flow-node-incaselib" @change="checkChanged($event)" v-model="checkedFlowNodes">
                            </div>
                            <div class="case-main">
                              <a class="view-case" @click.stop="viewCase(case_wrapper.caseId, 'PE4')">查看</a>
                            </div>
                            <footer class="case-footer">
                            </footer>
                          </div>
                        </div>
                        </template>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 场景列表 -->
              <!-- <span class="case-list-title list-title" style="margin:10px 20px -10px 20px;" v-if="testSceneList.length">场景列表</span> -->
              <header class="panel-heading" v-if="testSceneList.length">场景列表
                <button  class="hide-case-list btn btn-xs btn-info" @mousedown.stop="1" @click="saveScenesSort()">保存场景排序</button>
              </header>
              <div id="sortable_sceneslist">
                <div class="scene-list-wrapper  -wrapper" style="padding:0px 20px 10px 20px" v-for="scene in testSceneList">
                  <i class="icon-move handle2" style="color: #5a3c3c;"></i>&nbsp;&nbsp;   <!-- 刘瑞卿新加，给场景前添加移动符号-->
                  <div class="checkbox-wrapper" style="display: inline-block;vertical-align: top;padding: 2px 5px; position: relative; top: 5px;" @mousedown.stop="1">
                    <input type="checkbox" :value="scene.sceneId" class="checkscene" v-bind:name="scene.id"  v-model="selectedScenes">   <!-- 刘瑞卿新加-->
                  </div>
                  <span class="scene-list-title list-title" style="top: 8px;">{{scene.sceneName}}</span>
                  <button class="hide-case-list btn btn-xs btn-info" @click="hideCaseList($event)" @mousedown.stop="1"><span>收起</span>&nbsp;&nbsp;<i class="icon-caret-down"></i></button>
                  <button class="hide-case-list btn btn-xs btn-info" @mousedown.stop="1" @click="saveSort(scene.sceneId)">保存排序</button>
                  <!-- <div class="case-list"> -->
                    <div class="case-list">
                      <div class="check-all-case" v-if="scene.testCaseList.length" style="padding: 2px 5px;margin: 10px 10px;" @mousedown.stop="1">全选
                        <input type="checkbox"  @change="checkAllInScene($event)" class="checkall-inscene" 
                          :value="scene.sceneId" v-model="checkallSceneIds" style="position: relative; top: 3px;">
                      </div>
                      <div class="sortable_scene_caselist">
                        <div class="case-lib" v-for="case_wrapper in scene.testCaseList" >
                          <template v-if="case_wrapper.caseCompositeType == '1'">
                          <div class="checkbox-wrapper">
                            <i class="icon-move handle1" style="color: #B8860B;"></i>&nbsp;&nbsp;
                            <div style="display: inline-block; width: 20px; height: 20px;" @mousedown.stop="1">
                              <input type="checkbox" :value="'sort'+'-'+scene.sceneId+'-'+case_wrapper.caseId" class="check-flownodes" v-bind:name="case_wrapper.caseId" v-model="selectedSceneCases" @change="checkAllFlowNodes($event)">
                            </div>
                          </div>
                          <div class="case-wrapper">
                            <div class="case"  @click="changeCase(scene.sceneId+'-'+case_wrapper.caseId, 3)" @mousedown.stop="1">
                              <div class="case-header">
                                <img :src="exeImgs[0]" :id="'img' + '-' + scene.sceneId+'-'+case_wrapper.caseId">
                                <p :title="case_wrapper.casecode">{{case_wrapper.caseCode}}</p>
                                <input type="checkbox" v-bind:value="scene.sceneId+'-'+case_wrapper.caseId" class="check-case check-case-inscene" v-model="selectedSceneCases" @change="checkFlowNode($event)">
                              </div>
                              <div class="case-main">
                                <a class="view-case" @click.stop="viewCase(scene.sceneId, case_wrapper.caseId, 'PE6')">查看</a>
                              </div>
                              <footer class="case-footer">
                              </footer>
                            </div>
                          </div>
                          </template>
                          <template v-else>
                          <div class="checkbox-wrapper">
                            <i class="icon-move handle1" style="color: #B8860B;"></i>&nbsp;&nbsp;
                            <div style="display: inline-block; width: 20px; height: 20px;" @mousedown.stop="1">
                              <input type="checkbox" :value="scene.sceneId+'-'+case_wrapper.caseId" class="check-flownodes" @change="checkAllFlowNodes($event)" v-model="selectedSceneCases">
                            </div>
                          </div>
                          <div class="case-wrapper">
                            <div class="case" v-for="item in case_wrapper.flowNodes"  @mousedown.stop="1" @click="changeCase(scene.sceneId+ '-' + case_wrapper.caseId + '-' + item.flowNodeId, 3)">
                              <div class="case-header">
                                <img :src="exeImgs[0]" :id="'img' + '-' + scene.sceneId+ '-' + case_wrapper.caseId + '-' + item.flowNodeId">
                                <p :title="item.flowNodeCode">{{item.flowNodeCode}} </p>
                                <input type="checkbox" v-bind:value="scene.sceneId+ '-' + case_wrapper.caseId + '-' + item.flowNodeId"
                                class="check-case check-case-inscene" @change="checkFlowNode($event)" v-model="selectedSceneCases">
                              </div>
                              <div class="case-main">
                                <a class="view-case" @click.stop="viewCase(scene.sceneId, case_wrapper.caseId, 'PE6')">查看</a>
                              </div>
                              <footer class="case-footer">
                              </footer>
                            </div>
                          </div>
                          </template>
                        </div>
                      </div>
                    </div>
                  <!-- </div> -->
                </div>
            </div>
            </div>
          </div>
        </main>
      </section>
      <link rel="import" href="./common/copy-right.html?__inline">
    </section>
    <!--main content end-->
  </div>
  <!--content end -->
  <div class="modal fade" id="add-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">新增场景</h4>
        </div>
        <div class="modal-body">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="th">
                  <input type="checkbox" @change="selectAll($event);">全选
                </th>
                <th scope="col">场景名称</th>
                <th scope="col">场景描述</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="scene in allscenes">
                <td v-if="senceAddedStatus(scene.sceneId)">已选择</td>
                <td v-else><input type="checkbox" v-model="selectedScene" v-bind:value="scene.sceneId"></td>
                <td>{{scene.sceneName}}</td>
                <td>{{scene.sceneDesc}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-primary" @click="sendSceneData()">确认</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
</div>
    <!--content end -->

    <div class="modal fade" id="testplan_modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-width" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">测试计划管理</h4>
            </div>
            <div class="modal-body">
                <div class="top-bar">
                    <button type="button" class="btn btn-white" data-toggle='modal' @click='showAddModal()'><i class="icon-plus" ></i>
                    新增</button>
                    <!-- <button class="btn btn-white" @click="showDeleteConfirm"><i class="icon-remove"></i>
                    删除</button>
                    <button class="btn btn-white" @click="showUpdateModal"><i class="icon-edit"></i>
                    修改</button> -->
                </div>
                <div class="main-content" style="padding: 20px;">
                    <table id="testplan-table" class="table table-bordered">
                        <thead>
                            <tr>
                                <!-- <th scope="col" class="text-center" style="width: 5%;">操作</th> -->
                                <!-- <th scope="col" class="text-center"  data-sort="desc" data-order="id" onclick="resort(this);">id<span class="icon-sort-up" aria-hidden="true"></span></th> -->
                                <th scope="col" class="text-center">名称</th>
                                <th scope="col" class="text-center">描述</th>
                                <th scope="col" class="text-center">测试阶段</th>
                                <th scope="col" class="text-center">测试轮次</th>
                                <th scope="col" class="text-center">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="testPlan in testPlanArray">
                                <!-- <td style="width: 5%;">
                                    <input  type="radio" v-bind:value="testPlan.id" @click="changeSelect(testPlan.id)" v-model="selectTestPlan">
                                </td> -->
                                <!-- <td>{{testPlan.id}}</td> -->
                                <td>{{testPlan.nameMedium}}</td>
                                <td>{{testPlan.descMedium}}</td>
                                <td>{{testPlan.testPhaseName}}</td>
                                <td>{{testPlan.testRoundName}}</td>
                                <td class="center " width="" >
                                    <button class="btn btn-xs btn-success" @click="showUpdateModal(testPlan.id)">修改</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- 分页 -->
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <div class="pagination-wrap" v-if="page.totalPage!=0">
                                <div class="num">
                                        <select size="1" name="sample_1_length" aria-controls="sample_1" class="form-control" v-model="page.pageSize" @change='turnToPage(1)'>
                                            <option value="5" selected>5条/页</option>
                                            <option value="10">10条/页</option>
                                            <option value="20">20条/页</option>
                                            <option value="50">50条/页</option>
                                        </select> 
                                </div>
                                <ul class="pagination">
                                    <li :class="page.currentPage==1?'disabled':''"><a href="javascript:;" @click="turnToPage(1)">首页</a></li>
                                    <li :class="page.currentPage==1?'disabled':''"><a @click="turnToPage(page.currentPage-1)" href="javascript:;">上一页</a></li>
                                    <li>
                                        <a href="javascript:;" @click="turnToPage(page.currentPage-3)" v-text="page.currentPage-3" v-if="page.currentPage-3>0"></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" @click="turnToPage(page.currentPage-2)" v-text="page.currentPage-2" v-if="page.currentPage-2>0"></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" @click="turnToPage(page.currentPage-1)" v-text="page.currentPage-1" v-if="page.currentPage-1>0"></a>
                                    </li>
                                    <li class="active"><a href="javascript:;" @click="turnToPage(page.currentPage)" v-text="page.currentPage">3</a></li>
                                    <li>
                                        <a href="javascript:;" @click="turnToPage(page.currentPage+1)" v-text="page.currentPage+1" v-if="page.currentPage+1<=page.totalPage"></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" @click="turnToPage(page.currentPage+2)" v-text="page.currentPage+2" v-if="page.currentPage+2<=page.totalPage"></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" @click="turnToPage(page.currentPage+3)" v-text="page.currentPage+3" v-if="page.currentPage+3<=page.totalPage"></a>
                                    </li>
                                    <li :class="page.currentPage==page.totalPage?'disabled':''"><a href="javascript:;" @click="turnToPage(page.currentPage+1)">下一页</a></li>
                                    <li :class="page.currentPage==page.totalPage?'disabled':''"><a href="javascript:;" @click="turnToPage(page.totalPage)">尾页</a></li>
                                </ul>
                                <div class="go">
                                    <div :class="isPageNumberError?'input-group error':'input-group'">
                                        <input class="form-control" type="number" v-model="goToPage" min="1"><a href="javascript:;" class="input-group-addon" @click="turnToPage(goToPage)">Go</a>
                                    </div>
                                </div>
                                <small class="small nowrap"> 当前第 <span class="text-primary" v-text="page.currentPage"></span> / <span class="text-primary" v-text="page.totalPage"></span>页，共有 <span class="text-primary" v-text="page.totalCount"></span> 条</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
              <button type="button" class="btn btn-primary" @click="sendSceneData()">确认</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!--新增测试轮次 -->
    <div class='modal fade' tabindex='-1' role='dialog' id='addTestRoundId' aria-hidden='true' aria-labelledby='addTestRound' data-toggle='modal'>
        <div class='modal-dialog '>
            <div class='modal-content'>
                <div class='modal-header'>
                    <button type='button' class='close' data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class='modal-title' id='addTestRound'>新增测试轮次</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">名称</label>
                                <div class="col-sm-10">
                                    <input type="text" v-model="addRoundRowData.roundName" class="form-control" autocomplete="off">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">描述</label>
                                <div class="col-sm-10">
                                    <textarea resize="disabled" v-model="addRoundRowData.roundDesc" class="form-control" autocomplete="off"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">记录单保存方式</label>
                                <div class="col-sm-10">
                                    <select class="form-control" v-model="addRoundRowData.recordmanagementflag">
                                        <option v-for="option in [{ value: 1, label: '仅保存一份' }, { value: 2, label: '保存多份' }]" 
                                            :value="option.value" :key="option.value">
                                            {{option.label}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">定时执行方式</label>
                                <div class="col-sm-10">
                                    <input type="text" v-model="addRoundRowData.timeexecutesetting" class="form-control" autocomplete="off">
                                </div>
                            </div>
                        </form>
                    <div class='modal-footer'>
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button type="button" class="btn btn-primary" @click=addTestRound()>确认</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--新增模态框-->
    <div class="modal fade" data-toggle="modal" id="addTestPlan" tabindex="-1" role="dialog" aria-labelledby="testPlanLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="testPlanLabel">新增测试计划</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="testplan-name" class="col-sm-2 control-label">测试计划名称</label>
                            <div class="col-sm-10">
                                <input type="text" v-model="addRowData.nameMedium" class="form-control" autocomplete="off">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="testplan-desc" class="col-sm-2 control-label">测试计划描述</label>
                            <div class="col-sm-10">
                                <input type="text" v-model="addRowData.descMedium" class="form-control" autocomplete="off">
                            </div>
                        </div>
                        <div class="form-group" v-show="1 === editType">
                            <label class="col-sm-2 control-label">测试阶段</label>
                            <div class="col-sm-10">
                                <select name="testPhaseId" id="" class="form-control" v-model="addRowData.testPhaseId">
                                    <option v-for="testPhase in testPhaseArray" :value="testPhase.id" :key="testPhase.id">
                                        {{testPhase.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" v-show="1 === editType">
                            <label class="col-sm-2 control-label">测试轮次</label>
                            <div class="col-sm-10">
                                <select name="testRoundId" v-model="addRowData.testRoundId" style="width:80%;height: 34px;" filterable placeholder="请选择">
                                    <option
                                        v-for="testRound in testRoundArray"
                                        :key="testRound.id"
                                        :label="testRound.name"
                                        :value="testRound.id">
                                    </option>
                                </select>
                                <button type="button" class="btn btn-primary btn-sm" data-toggle='modal' style="margin-left: 20px;" data-target="#addTestRoundId">新增</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn-default" type="button">取消</button>
                        <button class="btn btn-success" type="button" id="btn-add" @click="add()">确定</button>
                </div>
            </div>
        </div>
    </div>>
    <!-- /.modal -->
      <link rel="import" href="./common-vac/alert.html?__inline">
      <link rel="import" href="./common-vac/confirm.html?__inline">
      <script src="../static/js/config.js"></script>
      <script src="../static/js/vac-functions.es.js"></script>
      <script src="../static/js/testplan-execute.es.js"></script>
      <script src="../../lib/common-scripts.js"></script>
      <script>
        jQuery(function($){
            //解决模态框背景色越来越深的问题
            $(document).on('show.bs.modal', '.modal', function(event) {
                $(this).appendTo($('body'));
            }).on('shown.bs.modal', '.modal.in', function(event) {
                setModalsAndBackdropsOrder();
            }).on('hidden.bs.modal', '.modal', function(event) {
                setModalsAndBackdropsOrder();
            });
            function setModalsAndBackdropsOrder() {
                var modalZIndex = 1040;
                $('.modal.in').each(function(index) {
                    var $modal = $(this);
                    modalZIndex++;
                    $modal.css('zIndex', modalZIndex);
                    $modal.next('.modal-backdrop.in').addClass('hidden').css('zIndex', modalZIndex - 1);
                });
                $('.modal.in:visible:last').focus().next('.modal-backdrop.in').removeClass('hidden');
            }
            //覆盖Modal.prototype的hideModal方法
            $.fn.modal.Constructor.prototype.hideModal = function () {
                var that = this
                this.$element.hide()
                this.backdrop(function () {
                    //判断当前页面所有的模态框都已经隐藏了之后body移除.modal-open，即body出现滚动条。
                    $('.modal.fade.in').length === 0 && that.$body.removeClass('modal-open')
                    that.resetAdjustments()
                    that.resetScrollbar()
                    that.$element.trigger('hidden.bs.modal')
                })
              }
          });
      </script>
    </body>
  </html>