<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
    <link rel="import" href="./common/header.html?__inline">
    <link rel="import" href="./noLoginAlert.html?__inline">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <link rel="stylesheet" type="text/css" href="../static/css/base.scss">
    <link rel="stylesheet" type="text/css" href="../static/css/pagination.css">
    <link rel="stylesheet" type="text/css" href="../static/css/metroStyle.css">
    <link rel="stylesheet" type="text/css" href="../static/css/scene-setting.scss">
    <script src="../lib/jquery.js"></script>
    <script src="../lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="../lib/vue.js"></script>
    <title>Testphase Manager</title>
    <style>
    </style>
</head>

<body id="v-body">
    <!--header start-->
    <link rel="import" href="./common/header-guide.html?__inline">
    <!--header end-->
    <!--sidebar start-->
    <link rel="import" href="./common/aside-guide.html?__inline">
    <!--sidebar end-->
    <div class="content">
        <!--main content start-->
        <section id="main-content">
            <section class="content-wrapper" style="margin-bottom: 50px;" :class={'bigMarginBottom':!tooltipFlag,'smallMarginBottom':tooltipFlag}>
                <main class="main">
                   <!-- breadcrumb start -->
                    <div class="row">
                        <div class="col-lg-12">
                            <ul class="breadcrumb">
                                <li><a href=""><i class="icon-home"></i> 测试计划</a></li>
                                <li class="active"><a href=""> 测试阶段</a></li>
                                <!-- <li class="active"> 对象库</li> -->
                            </ul>
                        </div>
                    </div>
                    <div class="top-bar">
                        <button type="button" class="btn btn-white" data-toggle="modal" data-target="#add-modal"><i class="icon-plus" ></i>
                        新增</button>
                        <button class="btn btn-white" @click="removeRow();"><i class="icon-remove"></i>
                        删除</button>
                        <button class="btn btn-white" @click="editRow()"><i class="icon-edit"></i>
                        修改</button>
                    </div>
                    <div class="main-content" style="padding: 20px;">
                        <table id="testphase-table" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">操作</th>
                                    <th scope="col">测试阶段名称</th>
                                    <th scope="col">描述</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="item in rowData">
                                    <td>
                                        <input type="checkbox" v-bind:value="item.id" v-model="selectedRows">
                                    </td>
                                    <td>{{ item.name }}</td>
                                     <td>{{ item.descShort }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </main>
            </section>

            <link rel="import" href="./common/copy-right.html?__inline">
        </section>
        <!--main content end-->
    </div>
    <!--content end -->

    <div class="modal fade" id="add-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">新增测试阶段</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="testphase-name" class="col-sm-2 control-label">名称</label>
                            <div class="col-sm-10">
                                <input type="text" name="name" v-model="addRowData.name" id="testphase-name" class="form-control" oninput="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="testphase-desc" class="col-sm-2 control-label">描述</label>
                            <div class="col-sm-10">
                                <input type="text" name="" id="testphase-desc" v-model="addRowData.descShort" class="form-control">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" @click="addRow()">确认</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

        <div class="modal fade" id="edit-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">修改测试阶段</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="testphase-id" class="col-sm-2 control-label">ID</label>
                            <div class="col-sm-10">
                                <input type="text" name="name" id="edit-id" class="form-control" oninput="" disabled="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="testphase-name" class="col-sm-2 control-label">名称</label>
                            <div class="col-sm-10">
                                <input type="text" name="name" id="edit-name" class="form-control" oninput="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="testphase-desc" class="col-sm-2 control-label">描述</label>
                            <div class="col-sm-10">
                                <input type="text" name="" id="edit-desc" class="form-control">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-12 text-center">
                    <div class="pagination-wrap" v-if="totalPage!=0">
                        <div class="num">
                                <select size="1" name="sample_1_length" aria-controls="sample_1" class="form-control" v-model="pageSize" id="mySelect">
                                    <option value="5" selected>5条/页</option>
                                    <option value="10">10条/页</option>
                                    <option value="20">20条/页</option>
                                    <option value="50">50条/页</option>
                                </select> 
                        </div>
                        <ul class="pagination">
                            <li :class="currentPage==1?'disabled':''"><a href="javascript:;" @click="turnToPage(1)">首页</a></li>
                            <li :class="currentPage==1?'disabled':''"><a @click="turnToPage(currentPage-1)" href="javascript:;">上一页</a></li>
                            <li>
                                <a href="javascript:;" @click="turnToPage(currentPage-3)" v-text="currentPage-3" v-if="currentPage-3>0"></a>
                            </li>
                            <li>
                                <a href="javascript:;" @click="turnToPage(currentPage-2)" v-text="currentPage-2" v-if="currentPage-2>0"></a>
                            </li>
                            <li>
                                <a href="javascript:;" @click="turnToPage(currentPage-1)" v-text="currentPage-1" v-if="currentPage-1>0"></a>
                            </li>
                            <li class="active"><a href="javascript:;" @click="turnToPage(currentPage)" v-text="currentPage">3</a></li>
                            <li>
                                <a href="javascript:;" @click="turnToPage(currentPage+1)" v-text="currentPage+1" v-if="currentPage+1<=totalPage"></a>
                            </li>
                            <li>
                                <a href="javascript:;" @click="turnToPage(currentPage+2)" v-text="currentPage+2" v-if="currentPage+2<=totalPage"></a>
                            </li>
                            <li>
                                <a href="javascript:;" @click="turnToPage(currentPage+3)" v-text="currentPage+3" v-if="currentPage+3<=totalPage"></a>
                            </li>
                            <li :class="currentPage==totalPage?'disabled':''"><a href="javascript:;" @click="turnToPage(currentPage+1)">下一页</a></li>
                            <li :class="currentPage==totalPage?'disabled':''"><a href="javascript:;" @click="turnToPage(totalPage)">尾页</a></li>
                        </ul>
                        <div class="go">
                            <div :class="isPageNumberError?'input-group error':'input-group'">
                                <input class="form-control" type="number" v-model="goToPage" min="1"><a href="javascript:;" class="input-group-addon" @click="turnToPage(goToPage)">Go</a>
                            </div>
                        </div>
                        <p class="page-info nowrap"> 当前第 <span class="text-primary" v-text="currentPage"></span> / <span class="text-primary" v-text="totalPage"></span>页，共有 <span class="text-primary" v-text="tt"></span> 条</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" @click="saveRow()">确认</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <link rel="import" href="./common/copy-right.html?__inline">
    <!-- 提示框 -->
    <link rel="import" href="./common-vac/alert.html?__inline">
    <!-- 确认框 -->
    <link rel="import" href="./common-vac/confirm.html?__inline">

    <script src="../static/js/config.js"></script>
    <script src="../static/js/vac-functions.es.js"></script>
    <script src="../static/js/testphase.es.js"></script>
    <script src="../../lib/common-scripts.js"></script>
</body>

</html>
